[2018-03-27 11:30] kevva commented on #248
@ErisDS, oh, that's too bad. Is there an issue about this on the `yarn` repo?

[2018-04-08 05:27] doug-wade commented on #110
Thanks for fixing this @NeekSandhu!

[2018-04-09 01:49] artivilla opened #256 "Locally installed `np` dependency failed on 'Verify user is authenticated'"
It breaks on ✖ Verify user is authenticated but when I test `npm whoami` I get `artivilla`. I also have `AddKeysToAgent yes` in my `~/.ssh/config` config file. Any other way I can I debug what might be causing this?

I've tried try `./node_modules/.bin/np` or `npx np` which essentially both are accessing my local binaries.

Works when I run the command globally.

Current Setup: OSX Sierra 10.13.3

[2018-04-09 15:39] tusbar commented on #53
What do you think about using the GitHub API, something like https://api.github.com/repos/sindresorhus/np/statuses/master and checking that everything is `successful`?

[2018-04-11 16:36] Aghassi commented on #190
So, I've done some digging on this also and wanted to throw my two cents in.

1. I use husky, so I have githooks in my life cycle. Those get totally wacked up when `Cleanup` runs because it deletes `node_modules` and the hooks can't run.
2. It looks like `np` executes everything via `execa`, which is `async` by default. I am wondering if there is a race condition where `Cleanup` deletes necessary

[2018-04-12 07:40] OmgImAlexis commented on #190
@ianstormtaylor I'm also getting this with np installed globally so maybe open another issue in regards to that?

[2018-04-14 16:51] ru-lai commented on #231
@sindresorhus I'd like to take a look at this and implement it how you mentioned at the beginning.
Are there any guides to contributing or things I should keep in mind?

[2018-04-23 14:23] LFeh opened #259 "Observable.merge is not a function"
When `np` try to install dependencies, I get an error on console

<img width="452" alt="screen shot 2018-04-23 at 11 22 36 am" src="https://user-images.githubusercontent.com/3603793/39132645-bacc871e-46e8-11e8-8d40-01fd1530e7f1.png">

Do you have any idea?

[2018-04-23 16:41] revelt commented on #173
I actually found out the reason why my `np` was taking ages. Apparently, `npm version` will run all precommit hooks when it's comitting the version commit. It's controlled by `commit-hooks` [setting](https://docs.npmjs.com/cli/version#commit-hooks). Now, since my unit tests take usually around an hour minimum, `npm version` was running `precommit` hook which in turn ran unit tests.

@SamVerschuere

[2018-04-24 05:39] revelt commented on #219
@AntonNiklasson did you try James' solution and if so, how did it go?

[2018-04-25 06:30] sindresorhus commented on #53
@tusbar I think that's a better solution, yes, since it will work with any service.

[2018-05-05 06:31] zellwk commented on #190
I ran into the same issue as well. Tried with `np` installed globally and it worked fine.

[2018-05-07 03:34] the1mills opened #260 "Feature request - adding a step to the mix"
I have this question on Quora
https://www.quora.com/How-can-I-test-my-npm-publish-result-without-actually-publishing-to-NPM-Should-I-host-a-local-NPM-server

and SO:
https://stackoverflow.com/questions/50206729/how-to-test-an-npm-publish-result-without-actually-publishing-to-npm

The question is basically: _How to test an `npm publish` result, without actually publishing to NPM?_

I think the prim

[2018-05-07 03:46] the1mills commented on #260
I did some more Googling, this has some info:

http://podefr.tumblr.com/post/30488475488/locally-test-your-npm-modules-without-publishing

but that's from 2012.

[2018-05-07 18:04] vincentmorneau commented on #252
What was it related to?

My tests work fine if i do
[code]

But when using `np` it breaks.

[2018-05-08 22:07] Hypercubed commented on #259
Yep... I think np needs to bump `any-observable`

[2018-05-09 19:10] the1mills opened #261 "Feature request - publishing to two different package names"
Some people have an NPM org => `@org`

and they have a package called xxx.

So they want to publish xxx to `@org/xxx` and just plain `xxx`.

Could `np` support publishing to more than 1 package name?

See this SO question:
https://stackoverflow.com/questions/50243768/is-there-a-good-way-to-publish-to-both-org-xxx-and-xxx-on-npm

[2018-05-09 19:29] sindresorhus commented on #261
Thanks for the suggestion, but that's outside the scope of this module, and my personal opinion is that you should not spam the registry with multiple names for the same thing.

[2018-05-09 19:29] #261 closed

[2018-05-13 05:56] willmendesneto opened #264 "adding publish support for folder and tarball"
### About this issue

Some projects using Angular and Angular CLI to build libraries needs a support based on `npm publish <folder|tarball>` which is a default supported via `npm publish` command.

[code]

Because Angular CLI is based on Ember CLI, this can be an issue happening in few other projects and have support for a content parameter on `np` package can help a lot of other developers.

Curr

[2018-05-17 15:58] vogievetsky opened #265 "Connection to npm registry failed"
![image](https://user-images.githubusercontent.com/177816/40188350-97d45344-59ae-11e8-99bb-1e04b3059c2e.png)

I know this is not an `np` issue but an `npm` issue but it is interfering with my `np` based workflow and I figured it might throw off other people also.

At the time of writing running `npm ping` returns a code 405 (service not available) for me. I have not idea why but this started happe

[2018-05-17 16:51] vogievetsky commented on #265
ok `npm ping` is back to working

[2018-05-17 16:51] #265 closed

[2018-05-21 19:17] filipekiss opened #266 "Problems after running cleanup"
So I've been trying to use `np` to publish a new version of a package. Everything works fine until the cleanup step. After that, everything is just marked as done and the following errors appear:

[code]

From what I've managed to understand, the problem is with `yarn publish --new-version 0.1.2` invoking the `build` script from `package.json`. `/bin/sh` complains `webpack` wasn't found. Running `

[2018-05-23 17:03] SamVerschueren commented on #259
Does this really fix the issue? `np` is still on RxJS 5.x so the current `any-observable` should work.

[2018-05-23 17:46] Hypercubed commented on #259
I'm using `np` to publish an angular v6 module (which uses rxjs@6).  Without this fix, I'm getting the exact error @LFeh reported above.  I'm assuming some node_modules deduping is happening.  This patch fixes the error.  I tested by npm linking `np` into my repo.

[2018-05-23 19:07] Hypercubed commented on #259
@SamVerschueren Please verify but it looks to me that `np` doesn't use `rxjs` directly but rather via `any-observable/register/rxjs-all`.  In `any-observable` rxjs is a devDep... so it uses the project's rxjs... which in our case is v6.

[2018-05-25 19:57] #259 closed

[2018-05-26 09:00] #264 closed

[2018-05-28 00:57] jsaguilar opened #270 "Error exec(...).catch is not a function when using yarn"
When using `np@v3.0.0` with yarn, the following error is thrown.
[code]

This seems to be caused by the `rxjs` upgrade to `v6.2.0` d63af9aa105160600cb24b10c4a61679e7fc8fb0.

[2018-05-28 00:58] jsaguilar commented on #270
Raised a PR for this https://github.com/sindresorhus/np/pull/269

[2018-05-28 01:52] #270 closed

[2018-05-29 08:52] despairblue opened #273 "3.0.1 fails when the repository is not hosted on github"
[code]

The regex in [node-github-url-from-git](https://github.com/tj/node-github-url-from-git/blob/master/index.js#L7) fails for that git url: `git+ssh://git@bitbucket.org/wunderflats/wunderflats-api.git`.

[2018-05-29 08:56] SamVerschueren commented on #273
This is used for generating the links. If the parsing fails, we should just skip creating the links.

[2018-05-30 01:15] jamsinclair commented on #256
Your local repository doesn't change the npm registry, via config or `.npmrc`, by chance?

I was having a similar problem when using locally with `yarn`. Yarn was supplying a different registry to npm which caused authentication to fail.

[2018-06-03 15:42] despairblue commented on #273
was fixed by #272

[2018-06-03 15:42] #273 closed

[2018-06-04 06:24] sindresorhus opened #275 "Missing `test` run script should not fail `np` when using Yarn"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/np/issues/275/badge.svg" />](https://issuehunt.io/r/sindresorhus/np/issues/275)

When using npm it just exists with code 0 when the `test` script is missing, but when using Yarn it exists with code 1. I've partially fixed it in https://github.com/sindresorhus/np/commit/acbaece5b758ce36c48cc3e2ad846dbcefd24f1e, it passes the step

[2018-06-06 15:38] astur opened #277 "Fails on first time start with git rev-list error"
When run np (v3.0.4) first time on some repo it fails with this output:
[code]

Then if run 'np major' (or other command) it works as usual.

On repos, where np was successfully used before, this problem do not appears.

Maybe it is bug.

[2018-06-14 00:27] the1mills opened #278 "Support question - what is the --no-cleanup option about exactly?"
Regarding this command line option:

[code]
what is the cleanup of node_modules about?
Doesn't NPM pretty much ignore node_modules for publishing?

I guess in some cases NPM does _not_ ignore node_modules, but I forget which circumstances those are.

[2018-06-14 05:38] SamVerschueren commented on #278
To make sure you test with the latest versions specified in `package.json`. For instance, if I depend on package `foo@^2.1.0` which I have locally installed in my `node_modules` folder. Some time later, I fix a bug in my package and run all my tests again, I still have `foo@^2.1.0` installed but that package might already have released `foo@^2.8.0`. So users of your module will install `foo@^2.8.0

[2018-06-14 05:38] #278 closed

[2018-06-14 18:22] artivilla commented on #256
Resolved with new major release `3.0.4` so closing this.

[2018-06-18 08:18] voxpelli opened #279 "Add support for setting flags globally and as config in package.json"
We run across https://github.com/sindresorhus/np/issues/248 (or something similar) repeatedly internally, so while we prefer `yarn` in most cases, we do want to avoid using `yarn` for the actual publishing of the package – `npm` feels much more stable there.

Using the `--no-yarn` flag solves that problem, but remembering to add it isn't as easy + it makes for a much more verbose command than just

[2018-06-20 08:21] the1mills commented on #278
Got it so by cleanup you might mean `rm -rf node_modules && npm install`?

[2018-06-20 19:13] the1mills commented on #278
thanks that makes sense

[2018-06-27 15:29] sindresorhus commented on #251
I think it would be better to just fork `np` and make it `pnpm` specific. No matter how much you abstract, I'm the one that's going to have to deal with support, bugs, merging PR, and maintaining the code. The `np` code is already messy enough. I don't want to maintain more. Sorry.

[2018-06-27 15:29] #251 closed

[2018-06-28 18:11] bennypowers opened #281 "GitLab Love"
Nice looking tool. Is GitLab support on your plate?

[2018-07-02 18:41] sindresorhus commented on #281
The only GitHub specific logic in `np` is for listing the "commits since the last release" when running `np` interactively: https://github.com/sindresorhus/np/blob/f291eff799dd74c06f5934aacbcfbdb4d8f7d009/lib/ui.js#L153 Happy to merge a PR adding GitLab support for that.

[2018-07-03 07:58] piuccio commented on #203
It magically fixed itself in one of the updates. Works fine for me in node `8.11.2` and np `3.0.4`

[2018-07-03 07:58] #203 closed

[2018-07-11 12:44] sindresorhus opened #283 "Output link to comparison of all commits"
Currently, we show all commits being included in a new release:

<img width="629" alt="screen shot 2018-07-11 at 19 42 03" src="https://user-images.githubusercontent.com/170270/42571911-8ee0d270-8542-11e8-94a5-3021cf616c8e.png">

Would be useful to also show a link to the comparison between the first and last commit, so you can quickly see all the changes on GitHub by clicking it.

A link like: ht

[2018-07-12 09:46] wanglong167 opened #284 "Check local working tree Unclean working tree. Commit or stash changes first."
Can you add parameters to cancel git check

[2018-07-12 10:53] sindresorhus commented on #284
Why?

[2018-07-12 11:35] wanglong167 commented on #284
I automatically updated the version of package.json with a script.

[2018-07-12 11:36] wanglong167 commented on #284
"publish:build": " npm-auto-version && np --no-cleanup --yolo --no-publish ",

[2018-07-12 11:40] wanglong167 commented on #284
lerna  There is no such limitation

[2018-07-12 14:55] bryantrobbins opened #285 "Possible to use new "npm ci" during release?"
Hello,

Is is possible to use the relatively new [npm ci command](https://docs.npmjs.com/cli/ci) during the release process instead of the default "npm install"? We're attempting to do an automated release against locked package versions.

Would a "--use-ci" flag or similar make sense as a convenient way to enable this? If so, I can look into a PR for the same.

[2018-07-13 09:04] Aladdin-ADD opened #286 "log.gauge.isEnabled is not a function"
node: v10.6.0
npm: 6.1.0
np: 3.0.4

![image](https://user-images.githubusercontent.com/13050025/42682997-a5cf90de-86be-11e8-8694-0f27a42f897f.png)

[2018-07-13 09:07] sindresorhus commented on #286
The error is coming from `npm`, not `np`. Try upgrading npm and if that doesn't work, report it to them.

[2018-07-13 09:07] #286 closed

[2018-07-13 10:52] #284 closed

[2018-07-18 14:22] voxpelli commented on #279
Any feedback on this @sindresorhus @SamVerschueren? I would be happy to help with a PR

[2018-07-20 21:37] garytryan commented on #256
I'm also having a similar problem.
If I run `yarn np` `✖ Verify user is authenticated` message, when I test `nom whoami` I get my username back.

It works correctly if I run `npx np`

[2018-07-23 03:02] jamsinclair commented on #256
Finally I know why 🙌

See this issue https://github.com/yarnpkg/yarn/issues/5683

Yarn uses its own npm instance that doesn't have your auth info. You'll need to `yarn login` to get it working now.

@garytryan try `yarn login` and then run `yarn np`

I'll try get a PR up to get np to show better error or attempt `yarn login`

[2018-07-24 18:56] Siilwyn opened #287 "Include staged changes for changelog?"
:wave: would love to use `np` but it seems like my current workflow of including changelog version changes and the bump to the version in the `package.json` in one commit is not supported. Thoughts?

[2018-07-25 06:08] sindresorhus opened #288 "Enable 2FA when publishing a new package"
See: https://blog.npmjs.org/post/175861857230/two-factor-authentication-protection-for-packages

I have [suggested this](https://npm.community/t/add-user-setting-to-have-2fa-enabled-by-default-for-new-packages/878) as a setting in the npm account page too, but no point in waiting for them.

This is blocked by https://github.com/npm/cli/pull/11 becoming available in a stable npm release.

[2018-07-29 17:46] jquense opened #290 "`--contents` behavior is different depending on yarn or npm"
Because `npm version` is run while yarn sets the version at `publish` yarn tries to update a `package.json` file in the `contents` directory not the package root. In the `npm` case versioning is done first, without the contents flag passed in and then publishes the correct directory.

IMO the npm behavior is correct while the yarn behavior is unexpected and not waht you'd want most of the time usi

[2018-07-29 17:51] sindresorhus commented on #290
So open an issue on Yarn about improving the behavior?

[2018-07-29 18:06] jquense commented on #290
I don't think this is a bug on yarn's end, the behavior it's doing makes sense ([they may have intentionally changed to this behavior](https://github.com/yarnpkg/yarn/pull/5711)), you specify a directory to publish and it runs all the commands in that directory, including the version bump. The inconsistency is because the `npm` flow is two commands.

I'll definitely raise it there, but it may be w

[2018-07-31 23:49] garytryan commented on #256
@jamsinclair just got around to releasing a package. `yarn login` seems to do the trick

[2018-08-04 15:56] ziyaddin commented on #277
I guess this error occurs due to absence of commits in git commit history.

[2018-08-05 02:31] scalvert commented on #225
I'm seeing the same issue, and I'm using npm version 6.2.0. I thought it was because the `--otp` switch was being interpreted as the `[<tarball>|<folder>][--tag <tag>]` arg. I have to verify this on my next publish.

[2018-08-20 04:38] sindresorhus opened #291 "Accept the 2FA (otp) token after 6 characters"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2430%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/np/issues/291)

Instead of having to press Enter. Would save a tiny bit of time.

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers (Total: $30.00)

- [<img src='https://avatars3.githubusercontent.com/u/44827199?v=4' alt='issuehunt'

[2018-08-30 04:39] jjperezaguinaga commented on #277
I can confirm I was faced with the same issue when trying to run `np` on its own. Providing an argument like `np 0.1.0` seems to have solved the issue in my case.

[2018-09-02 13:01] killynathan commented on #291
Hey, this is what is handled by listr-input used inside lib/publish.js right? I would like to take a stab at it.

[2018-09-02 17:49] sindresorhus commented on #291
@killynathan Correct. Go ahead :)

[2018-09-05 09:34] sindresorhus commented on #287
You can use the npm hooks. Example: https://github.com/sindresorhus/np#npm-hooks

[2018-09-05 09:41] sindresorhus commented on #285
From the docs:

So we can just automatically use `npm ci` when a package-lock or npm-shrinkwrap is present. No flag needed. It removes `node_modules` too, so we can remove [that step](https://github.com/sindresorhus/np/blob/5d923655a3986d04ea14035d20d5c0c16964b7fe/index.js#L66-L67) when using npm.

We also need to ensure the user is using a recent npm version. I think we should just change [this t

[2018-09-05 09:48] sindresorhus commented on #279
I'm willing to accept a PR for adding [`cosmiconfig`](https://github.com/davidtheclark/cosmiconfig), which would solve this, if someone is willing to help maintain `np`. Right now it's just me and I'm kinda burnt out by requests for all the things I would never use.

[2018-09-05 10:04] sindresorhus commented on #239
This was fixed in https://github.com/sindresorhus/np/commit/e5b5307b5e0d855cd4ae7eca17e9da9b5c87dbbc

[2018-09-05 10:04] #239 closed

[2018-09-05 10:06] sindresorhus commented on #218
I'm willing to have the API made stable if someone is willing to help maintain `np`. Right now, it's just me, so guranteeing a stable API is not something I can do.

[2018-09-05 10:10] #99 closed

[2018-09-05 10:12] sindresorhus commented on #199
I'm not sure of the internals of package-lock.json, but this seems out of scope for `np`. I would recommend asking in https://npm.community/ instead.

[2018-09-05 10:12] #199 closed

[2018-09-05 10:12] #181 closed

[2018-09-05 10:19] #164 closed

[2018-09-05 12:35] sindresorhus commented on #260
Not something we intend to support here, but you could try https://github.com/ORESoftware/r2g which is mentioned in the Stack Overflow answer.

We do intend to add some checks though, see: https://github.com/sindresorhus/np/issues/82

[2018-09-05 12:35] #260 closed

[2018-09-05 13:31] voxpelli commented on #279
@sindresorhus I'll try to find time to take a look at it soon and could definitely help with maintaining it

[2018-09-05 15:59] Siilwyn commented on #287
Ah I see, thanks!

[2018-09-05 15:59] #287 closed

[2018-09-05 19:55] mhelvens commented on #218
That's fair. You do maintain _a lot_ of open source repositories. (Thanks for that! 👍)

Don't worry about this issue. We're working around it on our end.

[2018-09-05 19:55] #218 closed

[2018-09-17 16:48] #281 closed

[2018-09-23 17:41] coolreader18 opened #293 "Creating a GitHub release on publish with hub?"
Would this be something within the scope of the project? I saw #83, and this might be able to be done with just a script, but it seems like a pain, it needs to get the version, check if it's a prerelease, release to the correct tag, etc. There's also the issue of knowing the intent if it's a prerelease for an external script, you could push to a dist-tag other than next and it'd be hard to figure

[2018-09-30 02:50] niftylettuce opened #294 "If `--otp` flag is specified then automatically use `--no-yarn` (since yarn doesn't support otp right now)"

[2018-09-30 02:51] niftylettuce commented on #294
https://github.com/yarnpkg/yarn/issues/4904

[2018-09-30 03:01] niftylettuce opened #295 "OTP tokens not working (npm ERR! 404 Not found: $OTP)"
[code]

[2018-09-30 03:05] niftylettuce opened #296 "Files specified in `.gitignore` are included in Tarball Contents"
Files specified in `.gitignore` are included in Tarball Contents.

e.g. `.nyc_output`, `coverage`

Possibly related to #103

[2018-09-30 05:51] sindresorhus commented on #295
You’re using a too old npm version.

[2018-09-30 20:09] #295 closed

[2018-10-01 22:54] harryparkdotio opened #297 "No option to specify commit message"
There currently isn't an option to support a custom git commit message, npm has this functionality by default [[ref](https://docs.npmjs.com/cli/version)].

ie. I want to have all releases committed like so: `chore: release vX.X.X`

---

[code]
*where `%s` is the new version number*

[2018-10-01 23:21] niftylettuce opened #298 "Add "pkg-ok"?"
https://github.com/typicode/pkg-ok

[2018-10-02 06:36] sindresorhus commented on #297
You can set your preferred version commit style in your `.npmrc`.

[2018-10-02 06:39] harryparkdotio commented on #297
@sindresorhus interesting, I didn't know that, thanks for the tip 😀!

Maybe adding a note in the readme might help future users of `np`?

[2018-10-02 06:43] sindresorhus commented on #297
Sure

[2018-10-02 06:49] sindresorhus commented on #298
I'm lukewarm to it. It's a good idea in general, I just don't want any more config added to `np` and this would require that, as there are situations where the files are not in those fields when we check, like for example, packages that are transpiled at publish-time.

And it seems `pkg-ok` doesn't handle globs, which are allowed in some of those fields.

[2018-10-03 11:30] harryparkdotio commented on #297
`np` did not respect the message format in .npmrc [[ref](https://github.com/harryparkdotio/mediq/tree/430ee97644f9f9c9e2892a5e74875bf34f5084f3)]

[2018-10-06 06:48] #297 closed

[2018-10-25 02:07] aleclarson commented on #294
Fixed by https://github.com/yarnpkg/yarn/pull/6555

[2018-10-27 11:50] #298 closed

[2018-11-06 17:07] lachenmayer commented on #277
Hey folks, also just bumped into this error in a repo in which I have never used `np` before.

I tried to just run `npx np` from a repo that currently has no tags, and which I've manually published the repo to npm once. Can't think of any other discerning features of this repo.

I had a look at the error message that git provides & it seems the `<commit-id>` argument is missing.

[code]

(...confi

[2018-11-08 16:14] vinniejames commented on #204
+1

[2018-11-14 21:04] simonhaenisch commented on #61
I started working on a package more, and want the publishing process of `np` but also the automatic generation of a changelog, so I'm currently trying to work around it like this:

[code]

but that results in an extra commit (and I still need to manually pick the version, which I'm actually fine with).

However, looking at `index.js`, wouldn't it be quite simple to extend

https://github.com/sindr

[2018-11-18 04:43] schuchard commented on #277
@jjperezaguinaga solution works for me

[2018-11-29 04:10] ianwalter commented on #290
@jquense I have refactored yarn publishing to be 2 steps like npm, yarn version and yarn publish, in #302. Do you want to take a look at that and see if it solves your issue?

[2018-11-29 11:21] cluetjen opened #303 "Misleading "Integrity check failed..." error if credentials for private registry are missing"
If yarn cannot download a package due to missing credentials in npmrc it fails with misleading error message "integrity check failed for…"

In our case, we had this .npmrc file

[code]

And got this error during yarn install:

`error https://ournexusserver/repository/npm/@40three-internal/ng-base/-/ng-base-7.0.1.tgz: Integrity check failed for "@40three-internal/ng-base" (computed integrity doesn'

[2018-11-29 12:13] sindresorhus commented on #303
How is this related to `np`? Did you mean to open this on the Yarn issue tracker?

[2018-11-29 12:58] cluetjen commented on #303
@sindresorhus sorry, wrong tab - I think I need more coffee...

[2018-11-29 12:58] #303 closed

[2018-11-29 17:44] #283 closed

[2018-12-08 00:26] trusktr opened #304 "Feature request: abort `version` if `preversion` fails."
I'm having this issue: https://npm.community/t/version-script-is-not-failing-when-preversion-script-fails/3913

It'd be nice if `np` solved it!

Based on https://github.com/sindresorhus/np/issues/47, it seems that `np` just runs `npm version`, and if that is true then above bug will happen. Is there some way to fix it and abstract it away in `np`?

[2018-12-08 00:50] trusktr commented on #304
Ah, yep, `np` is forwarding to `npm version`:

https://github.com/sindresorhus/np/blob/03871b2bd3375dd86a3e319dba8bdedade175330/index.js#L126

so the problem is there.

Any ideas how to solve it?

[2018-12-08 01:12] trusktr commented on #304
Idea: maybe `np` can read the `preversion`, `version`, and `postversion` scripts from package.json, and run them manually? Maybe in order to do the actual `version` process it can temporarily set those fields in package.json to empty, run `npm version ...`, then set the fields back?

So basically, pseudo code:

[code]

[2018-12-08 03:46] trusktr commented on #304
Solved it for my case:

- instead of a `preversion` script, make move it to another script like `release:pre`.
- make `release:patch`, `release:minor`, etc, which call `npm run release:pre && npm version patch -m "v%s"`, etc, respectively.

Now instead of running `npm version patch -m "v%s"` myself, I run `npm run release:patch`.

It works great, and the `release:pre` script will always stop the p

[2018-12-12 08:26] torch2424 opened #305 "Project's dependency chain contains `event-stream`"
Had an error with Travis not being able to `npm install` on my project [WasmBoy](https://github.com/torch2424/wasmBoy). And found out the reason was because I had `np` as a dev dependency, that way I could launch it with `npx`. And `np` depends on the [infamous event-stream](https://github.com/dominictarr/event-stream/issues/116).

The dependency chain goes: `split > stream-combiner > event-stream

[2018-12-12 15:22] jaredpalmer opened #306 "Use new-github-release-url to give link to prefilled release notes w/commits"

[2018-12-12 16:52] sindresorhus commented on #306
That's actually why I made that package. I don't plan to do just a link though, but automatically open the prefilled release notes page after the publish is done. I'm still considering whether I can make that the default behavior or not. I'm leaning towards yes, but open for input.

[2018-12-12 16:54] sindresorhus commented on #306
The release body would be something like this:

[code]

[2018-12-12 22:12] torch2424 commented on #305
After some more research, found out it was a fork I had created of another dependency a while ago, which happened to get caught by the event-stream bug.

Looking again, this depends on the correct `3.3.4` version, thus this package is fine! 😄

My apologies for opening the issue!

[2018-12-12 22:12] #305 closed

[2018-12-13 01:13] jaredpalmer commented on #306
Personally, I dig it. Plus, people can open it up and then edit it after the fact with their custom notes if they want to.

[2018-12-15 01:02] sindresorhus commented on #306
I won't have time to implement this until the end of January, so PR welcome if someone wants to give it a go in the meantime.

[2018-12-15 01:07] zeke commented on #61
Thanks for sharing, @webpro. I hadn't seen `release-it`.

[2018-12-19 01:16] evasomething opened #307 "possible to configure prompt of public publishing?"
This is minor, but prior to this prompt I could make a patch release to a private repo by just pressing enter.  Is it possible to suppress this prompt if I don't intend for a certain package to ever be published with public scope?

[2018-12-19 02:48] sindresorhus commented on #293
The plan is to do #306, so I'm gonna close this issue in favor of that one.

[2018-12-19 02:48] #293 closed

[2018-12-21 11:17] itaisteinherz commented on #197
When trying to reproduce locally using the following commands:

[code]

The `Verify user is authenticated` prerequisite check fails, which stops `np` in the first place. Looking at [the code at the time this issue was created](https://github.com/sindresorhus/np/blob/b6c7a91a829c38d496e0414f69b41c1cded652a7/lib/prerequisite.js), this check wasn't added yet, which explains why this didn't work back

[2018-12-21 11:53] sindresorhus commented on #197
It's mostly the Git operations that would be nice to revert. There are many reasons a publish can fail:

- Internet suddenly stops working.
- You wrote the wrong OTP code.
- You don't have your phone with you with the OTP code.
- You cancel during the process because you realize you forgot something.
- You try to publish an existing version.

It does happen to be sometimes and then I just do the r

[2018-12-21 11:58] NeekSandhu commented on #197
I think the first step would be to not do `git push` until after we have a solid confirmation that `npm publish` happened successfully.

[2018-12-21 12:04] sindresorhus commented on #197
@NeekSandhu That's already how it works. However, if publish fails, we need to revert the Git commit and tag locally.

[2018-12-21 12:05] itaisteinherz commented on #197
So to sum up:

If, for any reason, `np` is stopped before it is able to successfully run and publish, it will:

- **Avoid doing a push to `origin`**.
- Remove the local git tag it created.
- Revert to the commit before the last one, which was created by `np`.

[2018-12-21 12:56] sindresorhus commented on #197
@itaisteinherz Thanks for summarizing it. That's correct.

[2018-12-21 14:48] itaisteinherz commented on #197
In case the push fails, should we do the same or leave the project as it is?

[2018-12-21 18:39] sindresorhus commented on #197
We could retry the push once, and if it still fails, roll back.

[2018-12-21 21:14] sindresorhus commented on #275
I have a feeling this is caused by https://github.com/sindresorhus/np/blob/cec8e001794170db18d6c9cb468644d97441e697/index.js#L17-L25 or rather [`stream-to-observable`](https://github.com/SamVerschueren/stream-to-observable), but I haven't looked closely into it.

[2018-12-21 21:14] #294 closed

[2018-12-21 22:05] NeekSandhu commented on #197
I wonder why would we rollback if the push fails but publish goes through green. Rolling back then would cause the local repository's "state" to be in a version less than the one that just got published.

That would not future publishes as npm registry's version records and local records don't add up.

A push could fail when say github is down (happens quite frequently), but that's okay, the user

[2018-12-22 01:38] sindresorhus commented on #197
@NeekSandhu That's a good point. I didn't consider that. What if after a push failed, the next time you run `np` it offers to try to push again?

[2018-12-22 02:42] NeekSandhu commented on #197
When np is run again, it would try to push again anyway at the end of the publish sequence.

If we try to offer at the start, and the user says yes please, we'll be doing network I/O for that, and once again when the new publish happens few seconds later. Twice that is.

We can let the new changes accumulate and push them to origin at once at the end.

[2018-12-22 07:10] Norris1z commented on #275
@sindresorhus running `echo $?` after `yarn test` with no test run script returns `1` whereas it returns `0` for npm. Don't you think this is caused by yarn itself?

[2018-12-22 10:53] sindresorhus commented on #275
@Norris1z Yup, but another part of the problem that needs to be fixed is that it only shows the error on exit, and doesn't affect the `np` exit code, instead of throwing it right away, so something about the error handling and Observables are wrong.

[2018-12-22 17:51] devondacoda commented on #291
Hi, I'd like to add this enhancement. I've done what I think will fix it locally

[2018-12-23 16:40] shaminmeerankutty commented on #291
@sindresorhus I went through the source of `listr-input` and `Inquirer.js`, still didn't find anyway to implement this. What do you think?

[2018-12-24 04:08] Norris1z commented on #275
@sindresorhus you're right. It is a problem with the Observables.
[code]
This method works great. Should i submit a pr for this or we should still debug the Observables?

[2018-12-26 00:37] sindresorhus commented on #197
I don't mean a new publish. I mean that you can run `np` again after a failed push to continue where it failed.

[2018-12-27 09:19] FelixRilling opened #309 "Error warning about issues with Node 6 is shown when using Node 11.6"
Node 11.6.0
NPM 6.5.0
NP 3.1.0

When I try publishing a package (with `npp --no-yarn --no-cleanup`), the message shown is:
[code]
Even though i do not run Node 6. The version check seems to mistake the minor version of 11.6 for node 6; This might not be an issue of this package but some dependency that does the checks, but i could not find other issues for this.
This did not happen while i was usi

[2018-12-28 20:49] mikeerickson opened #311 "Running tests never completes?"
When running tests during publishing process, they never finish.  I don't receive any errors, etc. it just runs and runs and runs until I cancel process.

As it stands, I am running tests manually before publishing and use the `--yolo` option to skip tests.

Is there something I can do to see why the tests are failing?  I surely don't mind running tests manually (seeing as it is part of my develop

[2018-12-28 21:45] mikeerickson opened #312 "Doesn't finish "Publishing package" step even though repo shows a successful publish."
This is a similar report from #167 but it occurs when publishing to `npm`?

I get the email stating it was published successfully (which it does) but it never completes through `np` which means the tag task never executes.  Further, how does `np` determine if yarn should be used over `npm`

![image](https://user-images.githubusercontent.com/183153/50529012-b93ad400-0aa6-11e9-8bd9-29c6f59e4dd7.png)

[2019-01-02 15:16] voxpelli opened #314 "All private scoped packages detected as non-published"
This is a slight follow up to #313 and #307 + like those two a follow up to the feature introduced in #258.

We recommend `np` as the go to tool for publishing modules internally at @sydsvenskan, but since the latest version it **always claims** that our private scoped modules hasn't been published and asks if they should be published publicly (with a dangerous default as fixed in #313).

The reas

[2019-01-03 03:39] #309 closed

[2019-01-03 03:53] #285 closed

[2019-01-03 08:50] matej-prokop commented on #314
Having the same issue in my company. What about adding flag `--public` for publishing package as public.

1. When `--public` was provided or package is without scope => publish as public without asking
2. When `--public` wasn't provided and package is scoped
You can run `npm-name` check always. If you detect that package was already published (as public), ask user whether publish publicly (or publ

[2019-01-05 13:23] itaisteinherz opened #316 "Fails when no previous Git tags exist"
When running `np` in a repo where no previous Git tags currently exist, [`git describe ...`](https://github.com/sindresorhus/np/blob/4ffe2a7a6c54823da5f203d592694c08e4c8f8eb/lib/ui.js#L33) fails.
The issue could be fixed by getting the hash of the first commit instead of the last tag, and using it to do the comparison and show the commit history. This would still require us to print out a readable

[2019-01-05 16:49] itaisteinherz commented on #90
Another way to handle this could be to prompt the user, asking whether they'd prefer to skip the push step or enter a branch name that would later be used for pushing.

[2019-01-05 19:15] jdziat opened #317 "Publish failed when using 3.1.0 not 3.0.4"
When using a privately hosted repository and i go to publish using the 3.1.0 version it fails with a 403 response. However using the 3.0.4 works as expected. The below is all that is displayed.
[code]

[2019-01-05 20:04] jdziat commented on #317
Fails because of the npm name check module.
Changing the below within cli.js fixed it for me:
`
--skip-name-check  Skip validating the name check

skipNameCheck: {
      type: 'boolean',
      default: false
    },

  const isAvailable = cli.flags.skipNameCheck ? true : await npmName(pkg.name)
`

[2019-01-08 05:33] piuccio opened #319 "Ignore check for npm name when `--no-publish`"
I'm using `np` for a private package that is not published on npm but on a separate server using the command

[code]

and recently after updating I started getting these messages

[code]

It freaked me out at first but looking at [the code](https://github.com/sindresorhus/np/blob/4ffe2a7a6c54823da5f203d592694c08e4c8f8eb/lib/ui.js#L154-L158) it seems like it's supposed to prevent people from publis

[2019-01-09 06:52] sindresorhus commented on #317
How are you hosting it privately? Are you using a scoped package or normal package name?

I would prefer to find a way to resolve this without adding yet another flag.

[2019-01-09 07:09] sindresorhus commented on #279
The config file should be named `.np-config.json`.

[2019-01-09 07:11] sindresorhus commented on #304
Closing as it's marked as "working as expected" by npm: https://npm.community/t/version-script-is-not-failing-when-preversion-script-fails/3913/8

[2019-01-09 07:11] #304 closed

[2019-01-09 07:14] sindresorhus commented on #296
This sounds like an npm bug. We're just running `$ npm publish`. Can you report this over at https://npm.community/c/bugs instead?

[2019-01-09 07:15] sindresorhus commented on #275
@Norris1z We need to use Observables so the child process output is streamed into the task output. With your change the test output will only be shown when it's done.

Yes

[2019-01-09 07:16] sindresorhus commented on #311
Are you using npm or Yarn? Do you have a repo I could try that reproduces the issue?

[2019-01-09 07:20] sindresorhus commented on #312
I'm not using Yarn, so can't really help much with that. Yarn support is community-contributed. Maybe @gillchristian @jescalan @ianwalter @tusbar can help.

[2019-01-09 07:20] sindresorhus commented on #312
It uses https://github.com/sindresorhus/has-yarn

[2019-01-09 07:31] sindresorhus commented on #314
I think the best solution would be to add support for private packages to `npm-name`. Could maybe reuse some of the logic from https://github.com/sindresorhus/package-json/blob/1a7f10d016f6dd29fb2931831d60866e68a95611/index.js#L26-L28.

[2019-01-09 07:36] sindresorhus commented on #316
Sounds good. PR welcome :)

For reference, this is the part of the code that needs fixing: https://github.com/sindresorhus/np/blob/4ffe2a7a6c54823da5f203d592694c08e4c8f8eb/lib/ui.js#L33-L34

[2019-01-09 07:44] sindresorhus commented on #90
@Norris1z Adding a new flag should be the last option. We don't add flags lightly. Better to find a way to handle it automatically.

[2019-01-09 07:45] sindresorhus commented on #90
I don't think prompting is worth it here. Not having an upstream might be intentional. I think skipping is better. If the user really wants to push, they should just set an upstream.

[2019-01-09 07:49] sindresorhus opened #320 "Help wanted"
`np` has grown from a simple shell script to a massively popular tool. This also means that the maintenance burden has increased substantially. I could use some help with triaging issues and maintenance. 🙌

I have set up paid bounties for many of the issues in this repo.
It's now **$480** in total: https://issuehunt.io/repos/40806530

[2019-01-09 07:52] sindresorhus commented on #319
Yeah, that task should be skipped when `--no-publish` is passed.

[2019-01-09 18:01] Norris1z commented on #311
@sindresorhus I was able to reproduce the issue using `yarn`. I am working on submitting a pr to fix #275 which will fix this too.

[2019-01-10 14:57] jdziat commented on #317
Just with a verdaccio instance and it's a normal package name.

[2019-01-11 03:16] #319 closed

[2019-01-12 06:16] #90 closed

[2019-01-12 07:32] #316 closed

[2019-01-12 13:30] Norris1z commented on #275
@sindresorhus i found out that somehow after the failed `yarn test` command, two empty commands are sent to `execa` which produces `{ code: 1, signal: null, stdout: '', stderr: '' }` and because both `stdout` and `stderr` are empty it slips through the observables somehow. I posted an issue on the `execa` repo to clarify if `{ code: 1, signal: null, stdout: '', stderr: '' }` was a valid or if we c

[2019-01-12 13:52] Norris1z commented on #275
To be precise, adding this check to `execa` `if (result.error || result.code !== 0 || result.signal !== null || !(result.stdout !=='' && result.stderr !==''))` completely fixes the issue.

[2019-01-13 01:07] #306 closed

[2019-01-14 08:49] itaisteinherz opened #329 "Error creating release draft"
When using `np` without an upstream branch currently set, the _release draft_ step fails, printing out the following error message:

[code]

The origin of the error seems to be located here:

https://github.com/sindresorhus/np/blob/b3692af1e8c0f4d134e4de68e35afbfd1365da78/lib/release.js#L12

[2019-01-14 09:21] sindresorhus commented on #329
I already fixed this earlier today: https://github.com/sindresorhus/np/commit/71d7b2ec99f6b7b8e56b8da9f9ef0c4d9b44008b

[2019-01-14 09:21] #329 closed

[2019-01-15 04:00] mehulkar commented on #317
Also seeing this but for any new version

[2019-01-16 06:51] sindresorhus commented on #319
@yaodingyd You need to submit your PR URL in IssueHunt to get the reward for this.

[2019-01-16 13:19] yaodingyd commented on #319
@sindresorhus thanks!

[2019-01-18 15:16] itaisteinherz opened #330 "np fails when no upstream branch is set up"
Back when I was testing out #321, `np` seemed to work fine for projects with no remote set up, but now the `Check git remote` prerequisite task fails every time, printing this out:

[code]

I'm pretty sure that the origin of the error is this command:
https://github.com/sindresorhus/np/blob/d63feed61b1d7c5d01022c7171c86c7916230f85/source/git-util.js#L74

I'm not sure if this task is even necessary

[2019-01-19 03:15] bfred-it commented on #330
Considering that one of `np`'s tasks is to also push to the repo, I reckon it _should_ fail

[2019-01-20 13:13] hileix opened #333 "New bug fixed package not release"
#316
I encountered the bug described in #316, which has been fixed in # 316.But it has not been released.

Hope it can be released to npm.

Thank you!

[2019-01-21 21:03] itaisteinherz commented on #277
@astur Can you try again using the latest version from GitHub (i.e. `npm install --global sindresorhus/np`)?

[2019-01-21 22:44] xxczaki opened #335 "Change Inquirer to a lighter alternative"
[Inquirer is bloated - almost 7 MB](https://packagephobia.now.sh/result?p=inquirer)

We should consider changing it to a lighter alternative. I suggest these packages:
- [prompts](https://www.npmjs.com/package/prompts)
- [enquirer](https://www.npmjs.com/package/enquirer)

What do you think @sindresorhus ?

[2019-01-22 06:24] #275 closed, assigned to nobody

[2019-01-22 07:03] sindresorhus commented on #335
Inquirer is mostly bloated because of `RxJS`, but `np` depends on `RxJS` directly too, so switching wouldn't help much. https://packagephobia.now.sh/result?p=rxjs

Related: https://github.com/ReactiveX/rxjs/issues/3753

[2019-01-22 07:04] sindresorhus commented on #335
A better solution is to help RxJS reduce their size. Bump the linked issue and offer to help ;)

[2019-01-22 09:32] Norris1z commented on #311
@sindresorhus pull #336 closes this issue too.

[2019-01-22 09:35] #179 closed

[2019-01-22 09:39] sindresorhus commented on #311
@mikeerickson Can you confirm that this is fixed in `np` v4?

[2019-01-22 09:42] sindresorhus commented on #320
I could also use some help with going through old issues and checking whether they're still valid.

[2019-01-22 14:22] ZeeCoder opened #338 "Issues with adopting to a private package"
![image](https://user-images.githubusercontent.com/3679506/51541148-fe58e880-1e4f-11e9-96b7-3bad7f986449.png)

This tool looks really promising, and I'm trying to adopt it for a private package.

However I had the following issues:
- All commits are dumped in the terminal, which I think is supposed to only show new commits since the last release. I'm using tags, but I'm not sure what I need to do

[2019-01-22 14:56] xxczaki commented on #335
@sindresorhus Ok, I bumped your issue in the `RxJS` repo ;)

I think we can close my issue since Inquirer is not a problem here. Also, I realized it would be tricky to use one of the alternative packages since they don't have some useful features, that `np` uses :smile:

[2019-01-22 15:05] kevva commented on #338
Does `git describe --abbrev=0` give you the latest tag?

This is a known issue: https://github.com/sindresorhus/np/issues/314

[2019-01-22 15:21] xxczaki commented on #291
Maybe we could use a library like [RobotJS](https://www.npmjs.com/package/robotjs) alongside with the `validate` function from [listr-input] (https://www.npmjs.com/package/listr-input) to detect when 6 characters have been typed and then press the `Enter` key.

cc @sindresorhus @shaminmeerankutty

[2019-01-22 15:25] ZeeCoder commented on #338
It gives me the following:
[code]

My biggest issue is actually the tool not detecting that I'm logged in though. 🤷‍♂️
The rest I could live with.

[2019-01-22 15:47] sindresorhus commented on #291
@xxczaki No, that's way over the top.

[2019-01-22 15:47] sindresorhus commented on #291
I would add an option to `listr-input` to validate the input in real-time instead of only after Enter.

[2019-01-22 16:04] sindresorhus commented on #338
The private package part is probably a duplicate of https://github.com/sindresorhus/np/issues/314.

[2019-01-22 19:14] astur commented on #277
@itaisteinherz, it works great with latest version from GitHub.

[2019-01-22 19:37] mikeerickson commented on #311
@sindresorhus I have confirmed that all reported issues are now working with `np` v4!

Thank you :-)

[2019-01-22 19:37] #311 closed

[2019-01-22 21:35] itaisteinherz commented on #277
@astur Great 👍🏻 @sindresorhus I'm going to submit #322 to IssueHunt as a PR which fixes this since it seems to be the case here.

[2019-01-22 22:51] astur commented on #277
@itaisteinherz what about wait for fixed npm package before close this issue?

[2019-01-23 15:55] itaisteinherz commented on #277
@astur A new version with the fix has already been released - [v4.0.0](https://github.com/sindresorhus/np/releases/tag/v4.0.0).

[2019-01-23 15:59] astur commented on #277
@itaisteinherz thanks

[2019-01-23 15:59] #277 closed

[2019-01-23 17:39] bfred-it opened #339 "Command failed: npm access ls-collaborators X"
[code]

[code]

[2019-01-23 22:22] brandonweiss opened #340 "np supports Node 8 but new dependency new-github-release-url supports Node 10"
I noticed the build failing on a package of mine that supports Node 8 when trying to update `np` from `3.1.0` to `4.0.x`. The problem seems to be that although `np` supports Node 8 and higher `new-github-release-url` supports Node 10 and higher. So when Travis CI tries to test my package on Node 8 it fails trying to install `devDependencies`, which contains `np`.

Am I thinking about this wrong? I

[2019-01-24 08:44] #340 closed

[2019-01-24 08:51] sindresorhus commented on #339
@itaisteinherz Seems like this broke after the move to `npm-util.js`?

[2019-01-24 12:02] voxpelli commented on #339
I'm experiencing this as well, thought it was another issue so tried solving it in #342, will try and find and fix

[2019-01-24 13:10] itaisteinherz commented on #339
I don't think the origin of this is #327 since the npm commands themselves weren't modified. Also, when I tried running `npm access ls-collaborators supports-webp` on my machine the command successfully returned

[code]

@bfred-it Are you certain you've logged in to npm?

[2019-01-24 13:17] voxpelli commented on #339
@itaisteinherz Please read the thread. I dug into the code of npm + tried out multiple versions of npm and discovered a regression in npm `6.6.0`. If you don't experience the problem and uses npm `6.6.0` or later, then include that info.

[2019-01-24 16:55] brandonweiss commented on #340
@sindresorhus Thanks! ❤️

[2019-01-25 19:59] sholladay commented on #339
I am also experiencing this. I went through the git history and it looks like this command was added in PR https://github.com/sindresorhus/np/pull/201. I haven't tried that commit yet, but I don't think this is `np`'s fault. Seems to be an npm bug.

[code]

// cc @NeekSandhu

[2019-01-25 20:08] itaisteinherz commented on #338
This is caused by [`latestTag()`](https://github.com/sindresorhus/np/blob/acb2ea4b1698f10a658937f8dec85b5041c13779/source/git-util.js#L4) only detecting annotated tags. It should probably detect unannotated ones as well.

@sindresorhus What do you think?

[2019-01-26 17:19] moimikey commented on #339
confirming the downgrade to 6.5 helped ;/

[2019-01-26 23:36] sindresorhus commented on #338
@itaisteinherz Sure

[2019-01-29 21:18] itaisteinherz commented on #103
Is there a verdict then?
It seems to me like for now, warning users about using `.npmignore` / not having it at all, and recommending to use the `files` property (because of the reasons mentioned above) would be a good way to get this landed in `np`. We can always change the warning to be an error.

[2019-01-29 21:21] itaisteinherz commented on #266
@filipekiss Is this still an issue in `np` v4.0.2? If so, what are the project's npm scripts and dependencies?

[2019-01-30 13:34] filipekiss commented on #266
@itaisteinherz I haven't used np in a while, so I can't really tell. I'll see if I can test it this weekend and give you proper feedback!

[2019-02-01 08:01] konojunya commented on #339
![2019-02-01 17 01 15](https://user-images.githubusercontent.com/12035578/52110134-07616b00-2643-11e9-9e49-18f8f0984340.png)

same issue...

[2019-02-01 08:08] sindresorhus commented on #339
Someone should report it to npm.

[2019-02-03 21:09] alexlee-dev commented on #339
Filed an official bug on npm.

https://npm.community/t/npm-6-6-0-breaks-access-to-ls-collaborators/5101

[2019-02-04 17:00] alexlee-dev commented on #339
@zkat Thanks! Will be sticking to 6.5.0 for the moment. Glad there are eyes on it.

[2019-02-04 17:22] #314 closed

[2019-02-04 18:11] zkat commented on #339
I've patched this npm-side. It will be available as part of npm@6.8.0. Sorry for the trouble, and thanks for reporting it!

[2019-02-08 15:43] itaisteinherz commented on #266
@filipekiss Any updates? 🙃

[2019-02-11 13:11] itaisteinherz commented on #330
I thought about it for a while, and I guess that this is indeed the desired behavior since #90 is about skipping `git push` in case a remote _has_ been configured. If no Git remote is currently set, then as @bfred-it said it would be a bit pointless to use `np.`
I'm going to close this, but if anyone thinks that `np` should handle the case I described above feel free to comment.

[2019-02-11 13:11] #330 closed

[2019-02-19 16:52] fabianmieller opened #347 "Commit README.md file too"
Hello,

I'm updating the version in the file README.md under "npm-scripts version" and I want to add this file to the same commit.

Are there solutions for that?

Thanks
Fabian

[2019-02-20 17:40] itaisteinherz commented on #339
@bfred-it @sindresorhus I think this can be closed now that [npm v6.8.0](https://github.com/npm/cli/releases/tag/v6.8.0) has been released.

[2019-02-20 17:42] #339 closed

[2019-02-20 17:43] itaisteinherz commented on #347
And more in general, it would be very helpful if `np` supported supplying a custom script to run when creating a new version commit.

[2019-02-20 17:46] itaisteinherz opened #348 "Verify locally installed Git version is >=2.11"
See more on this in #321.
@sindresorhus I can work on this 👌🏻

[2019-02-20 17:54] itaisteinherz commented on #255
This seems to be related to #347 and my suggestion for custom `version` scripts.

[2019-02-20 18:17] sindresorhus commented on #347
@itaisteinherz Agreed. This depends on https://github.com/sindresorhus/np/issues/279.

[2019-02-20 18:18] sindresorhus commented on #348
Great! :)

[2019-02-20 18:21] sindresorhus commented on #348
@itaisteinherz I've been meaning to ask you, would you be interested in joining the project as a maintainer? You have done a lot of great improvements. Would be awesome to have you onboard.

[2019-02-20 21:01] itaisteinherz commented on #348
@sindresorhus I'd love to 😄

[2019-02-21 04:52] sindresorhus commented on #348
@itaisteinherz Yay :)

[2019-02-21 05:26] #348 closed

[2019-02-21 15:17] weekens opened #350 "Response code 400 (Bad Request)"
On attempt to run release with np, I get:

[code]

I expect to at lease get information on what was actually wrong. Currently, there is no such information and no possibility to get verbose output.

Private Git repository. Private NPM registry.

[2019-02-21 23:21] itaisteinherz commented on #350
Is the bash output you included the full output of `np`, or did you leave some things out? It would be helpful if you included the entire stacktrace.
Also, which npm, Node.js and Git versions are you using?

[2019-02-22 02:37] itaisteinherz commented on #335
It seems like this can be closed now, as the main problem is on `rxjs`'s side. One thing that comes to mind is that if we move `np` to use ESM instead of CommonJS, we can import specific parts of `rxjs`, which should lower the install size.

[2019-02-22 02:40] #335 closed

[2019-02-22 02:41] sindresorhus commented on #335
That would only help if we bundled the `np` code with something like Webpack, which I don't intend to.

[2019-02-22 08:40] weekens commented on #350
I've included the full `np` output, that's the point.

The versions are:

[code]

[2019-02-22 11:39] itaisteinherz commented on #347
Why? It seems to me like this could be implemented even without having globally and locally configurable flags (e.g. using a default script that is run if configured, or an argument supplied directly to the CLI).

[2019-02-22 11:49] itaisteinherz commented on #248
@ErisDS @milesj Hi 👋🏻 Is this still an issue for you when using the latest version of `np`?
I tried to reproduce this locally using the instructions provided in the issue description, but everything worked as expected (and the version number got bumped).

[2019-02-22 12:08] itaisteinherz commented on #279
@voxpelli Did you try adding a `deploy` npm script to your internal packages, which runs `np --no-yarn`?
Configuring `np` via a JSON config file sounds like a bit of an overkill to me, as the options suggested above should work just as well. Did you encounter any special use-case where the solutions suggested above don't solve the issue?

[2019-02-22 12:25] itaisteinherz commented on #350
This seems like an issue with `npx` and `npm`, as even if `np` had a bug you would still see the initial version prompt logged out. Try the solutions proposed in [this issue](https://github.com/npm/npm/issues/20604).
@sindresorhus Do you have an idea on why this happens?

[2019-02-22 17:49] #288 closed

[2019-02-23 13:18] itaisteinherz commented on #347
I just noticed [this tip](https://github.com/sindresorhus/np#npm-hooks) in the readme, which means that `np` already supports what I described above. However, when I tried using the `version` npm hook to add extra behavior when creating a new version, the new changes weren't committed with the version bump. This meant that I had to create another commit for the changes, which isn't the desired beh

[2019-02-23 14:32] sindresorhus commented on #347
👍

[2019-02-23 14:35] sindresorhus commented on #347
Sure, we could maybe add a CLI flag, but I don't want to end up with an endless amount of CLI flags. It's more readable and easier for users to add hooks as config. We'll probably need multiple hooks.

[2019-02-23 14:43] itaisteinherz commented on #279
After reading [Sindre's comment](https://github.com/sindresorhus/np/issues/347#issuecomment-466656707), I can see now how being able to use config files can be useful in some cases. I'll start working on this 👌🏻

[2019-02-23 14:55] sindresorhus commented on #350
No idea. When using a private npm registry, you're on your own to figure things out as a lot of things could potentially break. I'm happy to merge in fixes, but I have no ability or interest in testing against private registries.

[2019-02-23 15:04] weekens commented on #350
@sindresorhus , but how's about implementing a possibility to enable verbose output from `np`?

[2019-02-23 15:41] itaisteinherz commented on #350
Adding a `--verbose` option wouldn't help here since, as I said, the issue isn't with `np`.

[2019-02-23 17:42] simonhaenisch commented on #347
Why not? `ls` has like 40 and I as a user don't have any issues with that 🤓 I just ignore all the ones I don't need...

Totally agree with this and I also think cosmiconfig would be a good choice for this because people have different preferences for how to write configs and that's ok. It's great if I don't have to write a super-long cli command with escaped quotes inside strings, and instead I ca

[2019-02-23 18:17] itaisteinherz commented on #347
@simonhaenisch I'm pretty sure that what @sindresorhus meant is that we'll add support for configuration through config files using `cosmiconfig`, but will continue to support CLI arguments, just like [AVA](https://github.com/avajs/ava/blob/master/docs/06-configuration.md) does.

[2019-02-23 18:32] itaisteinherz commented on #350
@weekens I just noticed #317, which looks similar to the issue you're facing. Can you try using `np@3.0.4`, which worked for @jdziat?

I think that main issue here and in #317 is that when using a private registry, `np` should check if the package name is available on the given registry instead of on npm. We could also just disable the name check altogether when publishing to a private registry.

[2019-02-23 18:40] simonhaenisch commented on #347
I think you could solve this by amending the version commit using the `postversion` hook, i. e.

[code]

Or you could try to add the modified file in the `version` hook (which is run before committing), i. e.

[code]

(/cc @fabianmieller)

[2019-02-23 18:45] itaisteinherz commented on #347
@simonhaenisch Thanks for the suggestions, but I already tried both and they didn't work. Sometimes the hooks never ran, and sometimes they ran after the version bump was committed. Sorry for the vague explanation, I'll try to look further into this in a few days.

[2019-02-23 19:20] itaisteinherz commented on #307
You can still do this by running `np patch`.

[2019-02-23 21:56] itaisteinherz opened #352 "Add an issue template"
We should add a template for issue to save time triaging new ones. We could add a template for PRs as well, but I'm not sure how useful that will be.

This is what I currently have in mind:

[code]

Open to suggestions on how this can be improved to be more informative and helpful 🙃

[2019-02-24 04:31] sindresorhus commented on #352
👍 can you do a PR with this?

[2019-02-24 09:40] fabianmieller commented on #347
@simonhaenisch works thanks!

[2019-02-24 09:40] #347 closed

[2019-02-24 10:33] itaisteinherz commented on #352
Sure 👌🏻

About the PR template, I think that currently one of the main problems I see is that many people create a PR which modifies `np`'s current flow to match their own, instead of creating an issue first, so that we can help them resolve their issue instead of let them down by telling them that their PR isn't going to get merged. This is what I have in mind:

[code]

[2019-02-24 19:35] itaisteinherz commented on #279
Any specific reason to prefer `cosmiconfig` over [`pkg-conf`](https://github.com/sindresorhus/pkg-conf)? I'm still having trouble seeing how defining a global `np` configuration is going to be useful. It could also lead to unexpected issues where running `np` on different machines could produce different results.

[2019-02-25 06:08] aladdin-add commented on #320
I can review, and help triage issues. Thanks for building the awesome tool!

[2019-02-25 07:24] voxpelli commented on #279
It depends on whether you want np to function the same across all repos on your computer or whether you want it to function the same in your repo across all of your computers.

For me: I have like 80 repos and I don’t want to maintain a config in each one.

Though with cosmiconfig I can also share a config between 79 of them and have number 80 define its package specific way.

[2019-02-26 03:02] aladdin-add opened #355 "option to disable 2fa"
I was trying to publish a package, but get:

[code]

[2019-02-26 03:44] sindresorhus commented on #355
Duplicate of #339

[2019-02-26 03:44] #355 closed

[2019-02-26 03:44] sindresorhus commented on #355
This has nothing to do with 2FA. It was just an npm bug. Update to the latest npm version.

[2019-02-26 08:40] weekens commented on #350
@itaisteinherz , `np@3.0.4` works fine.

[2019-02-27 07:22] sindresorhus commented on #350
@itaisteinherz `npm-name` should already support checking the name for private packages: https://github.com/sindresorhus/npm-name/commit/c4e850b42a14da5348b2793ee4add4cd77e772da

[2019-02-27 07:39] sindresorhus commented on #279
I think we should separate global and local config. Global config, should only apply to the global `np` binary and **never** be inherited when using the local `np` binary, for example, in a `npm run` script.

[2019-02-28 09:50] aladdin-add commented on #355
I was using the latest(6.8.0) npm, and it was still happening.

[2019-02-28 17:10] itaisteinherz commented on #355
For me it works as expected:

[code]

Are you trying to publish a private / scoped package? Also, are you trying to publish the package to a private registry?

[2019-02-28 17:21] aladdin-add commented on #355
The strange thing is: it works fine when using npm, but np not:

[code]

[2019-02-28 17:32] itaisteinherz commented on #279
That would prevent the scenario I described above from happening 👍🏻

[2019-02-28 17:42] itaisteinherz commented on #355
@aladdin-add Maybe try reinstalling the latest versions of `np`, npm and Node.js (wild guess, but it might resolve the issue). Other than that, I can't think of any other reason why this would happen, and I'm unable to reproduce this on my end. @sindresorhus Any new thoughts on this?

[2019-02-28 17:56] itaisteinherz commented on #350
@sindresorhus See https://github.com/sindresorhus/npm-name/issues/31#issuecomment-468371032.

[2019-02-28 18:17] aladdin-add commented on #355
here is my envs:
+ node: v11.10.0
+ npm: v6.9.0-next.0
+ np: v4.0.2
+ os: macos 10.14.2

and I have a new finding:
![image](https://user-images.githubusercontent.com/13050025/53588478-fff09b80-3bc7-11e9-9259-627484e0cd6e.png)

np was trying to use a different npm?

[2019-02-28 18:38] itaisteinherz commented on #355
`np` uses the linked npm binary. Try following the suggested solution [here](https://gist.github.com/DanHerbert/9520689).

[2019-02-28 18:56] aladdin-add commented on #355
👍 thx! `rm -rf /usr/local/lib/node_modules` works for me.

[2019-03-04 22:18] ericclemmons opened #357 "GitHub Enterprise URLs aren't supported"
It also appears that `github-url-from-git` doesn't support non-GitHub URLs, which is part of the problem.

Opening this ticket so I can research further.

[2019-03-04 22:20] ericclemmons opened #358 "Ctrl-C when in a packge.json runs "post" scripts"
Given:

[code]

1. `npm run release`
2. Ctrl-C
3. > Howdy

I expect that `postrelease` _won't_ run.

[2019-03-05 07:27] itaisteinherz commented on #358
I'm unable to reproduce this myself. Can you upload a minimal reproduction repo to GitHub?

[2019-03-05 07:35] itaisteinherz commented on #357
Which URL are you using (feel free to censor out the sensitive parts, I just want to reproduce this)?
Also, looking at [`github-url-from-git`'s readme](https://github.com/tj/node-github-url-from-git), it seems like they do support GitHub Enterprise URL's.

[2019-03-06 02:14] jamaica474 commented on #248
Happened to me just a moment ago.
`$ yarn version --patch
yarn version v1.5.1
info Current version: 0.0.2
error An unexpected error occurred: "You must specify a new version with --new-version when running with --non-interactive.".
info If you think this is a bug, please open a bug report with the information provided in "/builds/posting-delivery-pipeline/sdk/yarn-error.log".
info Visit https://ya

[2019-03-06 06:42] SamVerschueren opened #359 "Show a notification when OTP is required"
It happens a lot that you start an `np` task and then you go off and do something else. Then you forget that you started the `np` task and it is awaiting the user input because it needs an OTP.

Would be nice if we showed a notification when the OTP is asked.

[2019-03-06 10:13] itaisteinherz commented on #248
@jamaica474 The issue you're experiencing is yarnpkg/yarn#5623, which has already been fixed in yarnpkg/yarn#5748. Try upgrading to the latest version of yarn.

@sindresorhus Should we add a yarn version check as well (which only runs if publishing is done with yarn)? It could prevent issues like this, but I'd like to avoid having the version checks get out of hand.

[2019-03-06 10:16] sindresorhus commented on #248
@itaisteinherz Sure

[2019-03-06 10:23] sindresorhus commented on #320
@aladdin-add I appreciate the help :)

[2019-03-06 10:26] itaisteinherz commented on #279
@sindresorhus From what you're describing, it also seems like we should also use [`import-local`](https://github.com/sindresorhus/import-local). Let me know if that's the case.

[2019-03-08 22:30] hirokiosame opened #361 "Verify npm authentication with external registry"
I noticed the npm authentication check is skipped when using an external registry. Can't we still check if they're authenticated?

I'm thinking `npm whoami --registry=${pkg.publishConfig.registry}` would be sufficient in checking that.

https://docs.npmjs.com/cli/whoami.html

[2019-03-10 19:04] ericclemmons commented on #358
Boy, I'm really sorry.

On my personal machine, I can't reproduce it.  It only happens @ work.

`np` works as expected in a pristine environment.  So it must be something else.

I'm sorry!

[2019-03-10 19:04] #358 closed

[2019-03-11 08:12] itaisteinherz commented on #358
@ericclemmons No worries 👌🏻 If you encounter any other problems in the future, feel free to open an issue.

[2019-03-11 21:25] privatenumber opened #363 "Support for Custom Publish Hooks"
Could there be a way to extend the publish steps? For example, a `.nprc.js` file that allows you to mutate the tasks array before it's executed.

[2019-03-11 22:04] hirokiosame opened #364 "npm v6.8.0 requirement"
" npm v6.8.0 or newer" requirement to use np was added [here](https://github.com/sindresorhus/np/pull/346) for 2FA support, but this is an opt-in feature, correct?

I get you can just upgrade npm but it hasn't even been released with the [latest version of Node](https://nodejs.org/en/download/releases/) yet. On my team, we try to use the latest LTS of Node, which currently comes with npm v6.4.1.

[2019-03-11 22:20] itaisteinherz commented on #364
This requirement wasn't added in #346 for 2FA support, but because of #339 to avoid encountering [an issue in npm](https://npm.community/t/npm-6-6-0-breaks-access-to-ls-collaborators/5101) that was introduced in `npm@6.6.0` and resolved in `npm@6.8.0`. Using npm version `<=6.5.0` or `>=6.8.0` should be fine, but not the ones in-between.

We could make the check more inclusive by allowing to use np

[2019-03-11 22:24] hirokiosame commented on #364
Ah great, thank you for the explanation! Would like to see support for `<=6.5.0` until 6.8.0 is released with LTS at least.

[2019-03-11 22:27] itaisteinherz commented on #363
See #279 and #354.

What do you mean by that? You can already use [npm hooks](https://github.com/sindresorhus/np#npm-hooks). Also see https://github.com/sindresorhus/np/issues/347#issuecomment-465682291 and #344.

[2019-03-11 22:29] itaisteinherz commented on #364
Feel free to create a PR that adds support for npm versions that are `<=6.5.0` (probably with some kind of warning that recommends you upgrade to a newer version of npm) and I'll happily review it.

[2019-03-11 22:32] hirokiosame commented on #363
Ah nice, thank you.

I have a repro that distributes a front-end library, and per release, I'd like to build the code w/ Webpack.

1. I'd like a step that reflects this build (not as a hook)
2. I'd also like for this step to happen before `npm test` but not in `pretest`. This is because `npm test` will build the code in dev mode by default, but if a flag is set, it will use built files. Basically,

[2019-03-11 22:35] hirokiosame commented on #363
I'm hoping for something like this:

`.nprc.js`
[code]

[2019-03-13 07:32] hirokiosame commented on #357
I'm encountering the same issue. The value of `repository.url` in my `package.json` is `git@github.intern.company-name.net:org-name/repo-name.git`.

Based on the `github-url-from-git`'s readme, it looks like you need to pass in the enterprise base URL via the `extraBaseUrls` option.

[2019-03-15 05:54] #361 closed

[2019-03-15 05:56] #317 closed

[2019-03-15 05:56] #350 closed

[2019-03-15 09:50] #352 closed

[2019-03-15 22:02] hirokiosame commented on #357
I'm happy to open a PR, but I'm not sure if the right solution is to:
1. Let the user pass in `--git-base-urls` to configure `github-url-from-git`'s `extraBaseUrls` option
2. Write some logic that would automatically detect the baseUrl of a git

[2019-03-15 22:31] itaisteinherz commented on #357
`#1` sounds good to me.

[2019-03-16 00:45] hirokiosame commented on #357
Great!  After that's added, the enterprise repo url will get passed into [hosted-git-info](https://github.com/npm/hosted-git-info). Unfortunately, [hosted-git-info doesn't support enterprise URLs](https://github.com/npm/hosted-git-info/blob/b7b18a925481d70f6f40a3389446102f19c2db09/git-host-info.js).

It's possible that the repo URL is on an enterprise Bitbucket too.

Does a `--is-github` flag to o

[2019-03-16 05:04] sindresorhus commented on #357
I don’t want a new flag unless absolutely necessary. Seems you can fix it by improving these dependencies instead, so I’d rather see that. Also, improving those packages will benefit everyone, not just `np`.

[2019-03-16 06:56] #296 closed

[2019-03-16 07:06] sindresorhus commented on #364
https://github.com/sindresorhus/np/pull/366#issuecomment-473506948

[2019-03-16 07:06] #364 closed

[2019-03-16 07:12] #248 closed

[2019-03-16 13:10] sindresorhus commented on #165
We are instead going to just rollback. I think that's a nicer user-experience. See #334.

[2019-03-16 13:10] #165 closed

[2019-03-16 14:16] itaisteinherz commented on #170
We could mention this problem in the readme, but the issue is mainly configuration-related.

@sindresorhus In general, I think that in many cases you prefer having extensive logging than having to duck-debug weird issues that involve many different modules and steps. What we could do is save a log file (e.g. `.np-error.log`) in case publishing fails, which would contain the complete log of the ent

[2019-03-16 15:07] itaisteinherz commented on #154
I think that we should mention @jesstelford's suggestion above in the `Tips` section of the readme, as it come in handy for some users.
Also, since a working solution to this issue has already been proposed, it seems like this can be closed.

[2019-03-16 15:56] sindresorhus commented on #154
@itaisteinherz 👍

[2019-03-18 17:13] MarcoScabbiolo opened #371 "No GitHub release draft flag"
Use a flag, like `--no-release-draft` to avoid opening the GitHub "New Release" page in the browser.

## Description

I'm creating the GitHub release using the GitHub API in a script, after running `np`, but the user is still showing the release draft, although the release is already there.

## Alternatives

Another alternative is to implement the release by GitHub API fully in `np`.

[2019-03-18 17:17] sindresorhus commented on #371
PR welcome to add the flag. I just didn't want to add it initially unless someone actually needed it.

[2019-03-18 17:20] MarcoScabbiolo commented on #371
I'll work on the PR, feel free to assign the issue to me.

[2019-03-19 18:54] justingrant opened #372 "Verify sourcemaps before publishing"
## Description

`np` should warn users when they try to publish a sourcemap that points to source files that don't exist in the package being published.

**Is the feature request related to a problem?**

Lately I've been wasting a lot of time chasing down libraries that publish broken sourcemaps to npm, where "broken" means that the sourcemap's `sources` array includes paths to source files that a

[2019-03-19 19:36] SamVerschueren commented on #372
Would be as easy as creating a package `verify-source-maps` and run it in the prepublish hook?

I don't think this belongs to something like `np` to be honest. All the checks we do are git related or npm related, not code related. Things like this belongs in the test phase, not in the publish phase imo.

[2019-03-19 23:45] sholladay commented on #372
Perhaps this should live in [`clinton`](https://github.com/SamVerschueren/clinton). @SamVerschueren

[2019-03-20 00:36] justingrant commented on #372
The only problem with an opt-in solution is that most library authors probably don't know that checking sourcemaps is a thing they need to do.  Having an opt-out solution would be more helpful for the ecosystem IMHO.  But a `prepublishOnly` hook would be a reasonable first step to generate more awareness among maintainers that checking sourcemaps is something they should be doing.

Even though the

[2019-03-20 02:33] sholladay commented on #372
I also have a somewhat similar project named [mop](https://github.com/sholladay/mop-cli). Whereas `clinton` checks each project individually (as linters do), `mop` is an assistant that checks all of your projects at once. `mop` is designed for people who have dozens or hundreds of projects and want to make upgrades to many of them simultaneously or check "which projects have X", etc. So if a sourc

[2019-03-20 03:55] bfred-it opened #373 "`np prerelease` should default to `--tag next`"
Running `np` lets you choose the release type and tag interactively, but `np prerelease` requires to pre-specify the tag via flag, erroring if it doesn't have it:

[code]

## Steps to reproduce

1. `$ np premajor`

## Expected behavior

`$ np premajor` should be the same as `$ np premajor --tag next` or let you choose interactively.

## Environment

np 4.0.2
node v11.6.0
npm 6.9.0
git 2.19.1
OS: m

[2019-03-20 05:02] sindresorhus commented on #373
You should really prefer just using `$ np`, but yes, we should probably let you choose interactively here too.

[2019-03-20 10:35] itaisteinherz commented on #371
Adding a `--no-release-draft` flag seems sensible to me, but I feel like we need a more general flag to better support current and future situations.
Since we already have `--no-publish`, we could add a `--skip-tasks` flag which allows you to specify tasks you'd like `np` to skip (e.g. `publish`, `release-draft`, `push`, etc.). Such a tag would be a generalization of `--no-publish` and `--no-relea

[2019-03-20 13:49] MarcoScabbiolo commented on #371
I agree it is the most convenient way of implementing it but we would be exposing the user to the concept of a "np task" and all the tasks, in which conditions they are run and what they do.
Many (as I did) will go to the source code and figure it out themselves anyways, so I think it is a good thing to add it and document it as an "advanced usage" topic.

I figure we would need to:

- Add the `--

[2019-03-21 05:06] rdmurphy commented on #371
Was coming here to add this issue myself (hit an issue of the browser crashing because the release draft was *too* big), glad to see it already exists! I'm in favor of the `--no-release-draft` flag, but feel like the `--skip-tasks` proposal is bigger than this and potentially a better separate issue/suggestion. 🤔

Although I do think there's value in having the explicit `--no-*` options. I don't k

[2019-03-21 13:08] MarcoScabbiolo commented on #371
@rdmurphy has a good point, maybe implementing `--no-*` as a way to cancel the `*` task would preserve the current spirit of the options and allow for any task to be skipped.

[2019-03-21 14:14] #154 closed

[2019-03-22 06:25] fregante opened #375 "Show versions in non-interactive mode (e.g. `$ np minor`)"
The interactive mode shows the current version an the next version 👌

[code]
... but the non-interactive mode (e.g. `$ np minor`) starts working without telling what's going to happen 🤕

[code]

## Possible solution

[code]

or

[code]

## Alternatives

Never use `$ np <version>`, but be asked 3 questions instead of 0.

[2019-03-22 06:29] bfred-it opened #376 "Drop question `Will bump from X to Y. Continue?`"
I don't think it's useful since it's preceded by a clear version selection.

[code]

[code]

Is there any case I haven't considered where it would be useful?

I'm willing to send a PR to drop it.

[2019-03-22 07:02] itaisteinherz commented on #376
It might be useful in case you accidentally selected a version increment. I agree it's annoying and redundant to ask this, though.

[2019-03-22 07:03] itaisteinherz commented on #375
I like the second possible solution you suggested.

[2019-03-22 07:05] bfred-it commented on #376
I think that's fine, you can always `cmd+c`

[2019-03-23 07:24] sindresorhus commented on #375
I like the second solution too.

[2019-03-23 07:24] sindresorhus commented on #376
Yes, let's drop it.

[2019-03-23 10:58] #376 closed

[2019-03-24 09:07] bfred-it commented on #371
Instead of `--skip-tasks task1,task2,task3` I'd prefer `--skip task --skip task2`. They can also replace the explicit `--no-*` flags.

[code]

They'd work the same way, but they don't have to be listed in the help one by one.

[2019-03-25 17:52] MarcoScabbiolo commented on #371
I've made a PR addressing the `--no-draft` flag, we can continue the generic implementation in a new issue.

[2019-03-25 20:12] hirokiosame opened #380 "Doesn't open Github release notes when using arguments"
## Description
When passing in arguments (eg. `np minor`) it skips the UI (which is the part that determines the repoUrl) and consequently skips the 'Creating release draft on GitHub' task.

## Steps to reproduce
1. Setup a Github repo
2. `npx np minor`
3. Don't see publish draft page

## Expected behavior
1. For the publish draft to open

[2019-03-26 06:38] itaisteinherz commented on #371
@MarcoScabbiolo see https://github.com/sindresorhus/np/pull/379#issuecomment-476400101.

[2019-03-26 13:24] MarcoScabbiolo commented on #371
I'd go with @rdmurphy `--no-*` approach as it is compatible with [meow](https://github.com/sindresorhus/meow)s flags.

[2019-03-26 16:09] itaisteinherz commented on #380
Looking at `ui.js`, I think we should move the `releaseNotes` creation into a separate file, and extract the `repoUrl` detection from it (the detection should be done when using `np` programmatically as well, but I'm not sure what's the best way to organize this).
It seems like `ui.js` currently contains lots of functionality that is outside of its scope (as it belongs to the general scope of `np`

[2019-03-31 16:21] #197 closed

[2019-03-31 16:36] #279 closed

[2019-03-31 16:53] itaisteinherz opened #381 "Add tests for the config"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/np/issues/381/badge.svg" />](https://issuehunt.io/r/sindresorhus/np/issues/381)

See https://github.com/sindresorhus/np/pull/354#issuecomment-475249914 and https://github.com/sindresorhus/np/pull/354#issuecomment-475372561.

[2019-04-03 11:09] cossssmin opened #382 "Fails at Creating release draft on GitHub"
![image](https://user-images.githubusercontent.com/1656595/55474107-0b950f00-5619-11e9-8f5d-8b594a6539da.png)

## Description

`np` always fails for me when it tries pushing tags to GitHub. The package is scoped, if that matters, though I see it's complaining about a `git` command option.

## Steps to reproduce

Just run `np` and follow the prompts to publish a new package version.

## Expected be

[2019-04-03 11:22] cossssmin commented on #382
Closing this for now, just updated to `git version 2.21.0.windows.1` and I see this one does accept a value:

![image](https://user-images.githubusercontent.com/1656595/55475165-d50cc380-561b-11e9-8655-b3c89d305b0f.png)

[2019-04-03 11:22] #382 closed

[2019-04-04 02:48] Offirmo commented on #253
Not exactly the same problem, but similar description. I'm working in a monorepo with several packages. Obviously the tag conflicts across packages.

It would be nice to have a possibility of prefixing the tag with the package name, ex: `@foo/bar.v1.2.3` instead of `v1.2.3`.

[2019-04-04 04:33] bfred-it commented on #253
This is already supported, but you need to pass the full version manually:

[code]

Better yet:

[code]

Having multiple package names for every branch is an overkill, npm already provides tags for this.

If you're using a monorepo, look at babel does it: https://github.com/babel/babel/tree/master/packages

[2019-04-05 18:03] forivall commented on #58
as I tend to use `latest` for my release branch name, i'll look into taking on this issue.

[2019-04-05 18:46] itaisteinherz commented on #58
Note that the 2nd option suggested in https://github.com/sindresorhus/np/issues/58#issuecomment-269043508 has already been implemented in #354.
@sindresorhus Is there any specific reason why we have a `--any-branch` flag instead of a more-specific `--branch XXX` flag?

[2019-04-05 18:57] itaisteinherz commented on #216
@lapski @vvo Do you mind checking if this is still an issue? It should be fixed in the latest version of `np`.

[2019-04-05 19:01] itaisteinherz opened #383 "Add tests for utility files"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/np/issues/383/badge.svg" />](https://issuehunt.io/r/sindresorhus/np/issues/383)

We need to add tests for `source/util.js`, `source/version.js`, `source/git-util.js` and `source/npm/util.js`.

[2019-04-05 19:05] itaisteinherz opened #384 "Add tests for pre-publish tasks"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2460%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/np/issues/384)

We need to add tests for the prerequisite and Git tasks (`source/prerequisite-tasks.js` and `source/git-tasks.js`).

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers (Total: $60.00)

- [<img src='https://avatars3.git

[2019-04-05 19:11] itaisteinherz commented on #29
@sindresorhus I created #381, #383 and #384 (see https://github.com/sindresorhus/np/pull/354#issuecomment-475854045). I tried to avoid creating issues that have a scope that's too big, but if you think we should change something feel free to update the issues (#383 may be a bit too big as it requires many (small) tests). As those get resolved we can create more tests issues, depending on how thing

[2019-04-05 21:35] sholladay commented on #58
I implemented `--any-branch` and it was my idea, so you can blame me. :)

My reasoning at the time was:
1. In the vast majority of cases, releases happen from `master`. And when you allow every little thing to be customized, over time the complexity of our tools explodes. It's also an extra opportunity for the user to make a mistake or misunderstand the feature. For example, `--any-branch` feels v

[2019-04-06 00:18] forivall commented on #58
yeah, in the spirit of that keeping simplicity principle, i was going to just suggest supporting a few well-known keys, such as "release" and "latest" and "current", and to do some light amount of probing  to make sure that there was only one of these release-named branches. But as a configuration option has been proposed here, it seems reasonable to propose a configuration based PR.

[2019-04-08 08:32] franciscop commented on #339
For those who are installing it from `nvm`, you can upgrade your local `npm` with:

[code]

[2019-04-08 08:48] mansona commented on #339
@franciscop you can also do:

[code]

just because the latest release is now npm@6.9 👍

[2019-04-09 00:42] bfred-it commented on #380
I think this is fixed by https://github.com/sindresorhus/np/pull/378

[2019-04-09 08:46] sindresorhus commented on #371
I think adding ability to skip arbitrary tasks is a much larger task and should be discussed separately. Not even sure I want that. It will considerably complicate the codebase and I'm trying to reduce the complexity.

Adding a `--no-release-draft` flag is the best immediate solution.

[2019-04-09 20:13] itaisteinherz commented on #371
I'll create a separate issue for it then 👌🏻

[2019-04-09 20:23] itaisteinherz opened #386 "Make np more configurable and customizable"
As `np` grows bigger, users want more and more ways to configure it. One of the basic things that includes is disabling specific tasks. Instead of creating a new flag every time we add a new step to `np` that someone's not interested in, we can create a single way to skip any task `np` executes.
One of the ways this could be implemented is by adding a flag `--skip task1 task2` which allows you ski

[2019-04-10 14:33] #380 closed

[2019-04-10 14:37] #290 closed

[2019-04-12 02:19] edsrzf opened #387 "Version gets bumped too many times during release"
## Description

When I ran `np major`, the major version was bumped 3 times, 2 Git commits and tags were generated.

## Steps to reproduce

The setup:
* `package.json` contains version `1.0.0`
* Latest version tag is `v1.0.0`
* Using Yarn with NPM 2FA enabled

1. Run `np major`
2. Wait for the OTP prompt to appear; enter OTP

Two Git commits were created, with tags `v2.0.0` and `v4.0.0`, and both

[2019-04-12 13:48] minosss commented on #387
same error. but specific version works good. eg: `np 2.0.0`

[2019-04-12 15:13] itaisteinherz commented on #387
This should have been fixed in #385. @edsrzf @minosss Can you test this by reinstalling np, using the latest version available on GitHub: `$ npm i -g sindresorhus/np`?

@sindresorhus I think we should release a new minor version of `np` to make all of the new features, improvements and bug fixes generally available.

[2019-04-13 16:43] minosss commented on #387
Im tested on my repo.

works
[code]

bump 2times
[code]

[2019-04-14 15:20] guybedford opened #388 "Standardizing package.json "np.contents" publish dir"
Following on from the discussion at Node.js core from https://github.com/nodejs/node/issues/14970#issuecomment-482996427, I'm wondering if it's worth trying to standardize this publishing feature to apply to other publish tools as well.

How about a standard package.json field for directories.publish:

[code]

@sindresorhus would you be open to supporting something like this?

Would be interesting

[2019-04-16 12:48] #371 closed

[2019-04-18 10:41] ntwb opened #390 "Git "no unpulled changes" not working?"
## Description

I've just been testing this package as an alternative to the current publish tool I've been using.

I wanted to test some of the features this tool provides, one of those is:

My test of "the working directory is clean" worked perfectly, though the test of "no unpulled changes" failed.

## Steps to reproduce

Here is the output of what I ran:

[code]

I hit `CTRL-C` at the "Install

[2019-04-18 10:51] ntwb opened #391 "Add a `--preview` flag to dry-run np"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/np/issues/391/badge.svg" />](https://issuehunt.io/r/sindresorhus/np/issues/391)

## Description

**Is the feature request related to a problem?**

I'd like to be able to run `np` in a "dry run" mode more so than what it currently does, `np` already supports the `--no-publish` flag to prevent it being published to npmjs.com, I'd

[2019-04-18 10:59] ntwb commented on #391
Related: #249/#250 `-no-git-tag-version` is similar/close to what I'm asking above, though the PR #250 would still _push_ to GitHub which is what I'd like to avoid.

So it would kind of work, but only because (I think) nothing would be committed as the repo would be in a dirty state rather than (what I'd like) is to explicitly **not** push anything to GitHub

[2019-04-18 11:24] itaisteinherz commented on #390
For me the check seems to fail as expected when there are remote commits that don't exist locally. Can you upload a minimal reproducible example / steps to reproduce?

[2019-04-18 11:26] itaisteinherz commented on #391
One thing you could do at the moment to achieve this is to avoid setting an upstream branch, which would make `np` skip pushing to the remote (however this is obviously a hack, not a solution). This is also related to #386.

[2019-04-18 11:30] itaisteinherz commented on #391
Adding a dry run option does sound interesting and useful, though. We could add a `--preview` flag which only prints out the changes/actions `np` is going to make without actually doing those.

[2019-04-18 11:31] ntwb commented on #390
1. Clone a repo you have control of
2. Run `npm install np --save-dev`
3. On the repo on GitHub create a PR with a minor change and merge the PR
4. Locally run `np --no-yarn --no-publish`

Expected behavior:

The Git check to fail as there are remote changes not pulled

Actual behavior:

The Git check passes

[2019-04-18 12:28] itaisteinherz commented on #390
Following steps above did not lead to any unexpected behavior on my end 😕
The repo I'm testing this on is [itai-playground](https://github.com/itaisteinherz/itai-playground) (see itaisteinherz/itai-playground#1).

[2019-04-18 13:18] #387 closed

[2019-04-18 14:20] sindresorhus commented on #390
@ntwb Can you try the latest release https://github.com/sindresorhus/np/releases/tag/v5.0.0 ?

[2019-04-18 14:53] sindresorhus commented on #103
@itaisteinherz Yes, let's start with a warning, and we can consider making it an error in the future if the warning works out well.

I wonder if we could check with Git if any files were added since the last release, and if so, we could check if they match any patterns in `files` or `.npmignore` and if not, we could show them so users would be aware. It could help catch mistakes for both forgettin

[2019-04-19 11:13] sindresorhus commented on #388
Sounds like a good idea if you get buy-in from other tools. Personally, I'm not using the `--contents` flag though, so would be better to involve some people that do use it: @willmendesneto @MarcusNoble @Jaid

[2019-04-20 15:17] EdJoPaTo opened #393 "Fails on private packages"
Before v5 you could use np to publish a private project.
v5 creates the release but rolls back afterwards which is even more dangerous as some things are done and others are rolled back.

## Description

You could use this tool to create GitHub releases, tags and so on, just skipping npm publish.

## Steps to reproduce

1. add `"private": true` to your package.json
2. `np`
3. release is created bu

[2019-04-20 21:10] itaisteinherz commented on #393
@EdJoPaTo Thanks for the valuable feedback! 🌟
This should be fixed in #394, which will hopefully be released soon in the next version of `np`.

[2019-04-21 08:28] itaisteinherz commented on #58
@forivall I don't think we should add support for specific branch names other than `master`, as everyone has their own preferences for branch naming and such (e.g. gitflow). It seems to me like moving forward, there are two options we can choose from:

1. Keep the current default configuration and flags, but warn the users of the branch they're publishing from when using `--any-branch`.
2. Impleme

[2019-04-22 12:26] itaisteinherz commented on #384
Also see https://github.com/sindresorhus/np/pull/392#issuecomment-485405701.

[2019-04-22 21:17] edsrzf commented on #387
I've updated to 5.0.0, which contains the fix in #389, and it works for me. Thanks @itaisteinherz!

[2019-04-23 06:23] MarcoScabbiolo commented on #384
Are we talking about unit tests of these files or integration with all the other files they depend on? What is the preferred way to mock modules, both for dependencies and for local ones, global variables or using `jest` instead of `ava`?

[2019-04-23 07:04] itaisteinherz commented on #384
Unit tests (for the moment being).

See #29. We'll definitely use `ava` for testing, and I think either [`sinon`](https://github.com/sinonjs/sinon) or [`mockery`](https://github.com/mfncooper/mockery) would do the job here.
@sindresorhus in https://github.com/sindresorhus/np/issues/29#issuecomment-231607595, how did you intend for the modules to be mocked?

[2019-04-26 09:38] #393 closed

[2019-04-27 20:38] itaisteinherz commented on #393
Fixed in [`v5.0.1`](https://github.com/sindresorhus/np/releases/tag/v5.0.1).

[2019-04-28 00:01] SimonSchick opened #395 "v5 not compatible with verdaccio anymore?"
We run a private reg using the latest stable of [verdaccio](https://github.com/verdaccio/verdaccio), up until `np@4.0.2` this worked perfectly, now it doesn't.

## Description

Running `np patch` yields the following:

[code]

[code]

It seems like `np` is attempting to publish the the `npm` registry rather than our own.

## Steps to reproduce

1. Setup verdaccio
2. Attempt to publish package
3. E

[2019-04-28 06:37] itaisteinherz opened #396 "np rolls back repo even when nothing has been committed"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/np/issues/396/badge.svg" />](https://issuehunt.io/r/sindresorhus/np/issues/396)

See https://github.com/sindresorhus/np/pull/334#issuecomment-487343776

[2019-04-28 06:46] itaisteinherz commented on #173
I think you can simply override the version-related npm hooks which were set by `commit-hooks` to avoid this without maintaining your own fork (e.g. by setting them (`preversion`, `postversion`, [etc.](https://docs.npmjs.com/cli/version.html#description)) to `$ exit 0`).

What do you mean by "_other round_"? `np` doesn't run any hooks by itself, it only calls (a variation of) `npm test`, `npm vers

[2019-04-28 09:52] revelt commented on #173
@itaisteinherz thanks for looking at this ticket. Lots have changed since closing it. I migrated to a Lerna monorepo and put the publishing on the GitLab's CI, the commitizen takes care of versioning so I don't use `np` any more.

`np` is brilliant — but only when you can count your packages on your hand fingers.

[2019-04-30 10:25] ingro commented on #395
I also have problem with verdaccio and two-factor authentication

[2019-05-02 11:12] wessberg opened #398 "Option to disable 2FA"
## Description

With `np` v5.0.0, 2FA is enabled by default for new packages. However, no option is exposed to disable 2FA.

Lines [198-204 in `np/index.js`](https://github.com/sindresorhus/np/blob/d4bf8838562260d2a3e901e2d8a1650ea396a6a3/source/index.js#L198) enables 2FA if the package doesn't exist in the registry and if it isn't private.

2FA is definitely the right _default_, and I encourage e

[2019-05-04 15:21] TiagoDanin opened #400 "Validation branch name"
## Description

Problem with Regex

https://github.com/sindresorhus/np/blob/d4bf8838562260d2a3e901e2d8a1650ea396a6a3/source/git-util.js#L24

Does not work with a branch named `dev.1.0.0`

Refs:
- https://mirrors.edge.kernel.org/pub/software/scm/git/docs/git-check-ref-format.html
- https://stackoverflow.com/questions/12093748/how-do-i-check-for-valid-git-branch-names#12093994

## Steps to reproduce

[2019-05-04 22:00] itaisteinherz commented on #400
See #397 and https://github.com/RobinBuschmann/sequelize-typescript/issues/602#issuecomment-485439123.

[2019-05-04 22:00] #400 closed

[2019-05-04 22:10] itaisteinherz commented on #363
Closing as future discussion on this should be in #386.

[2019-05-04 22:10] #363 closed

[2019-05-05 18:21] mroth opened #403 "allow publishing current version without increment, to workaround issue with prerelease versions and --no-publish with CI/CD"
## Description

When using np in conjunction with a CI/CD environment, the recommended implementation is to use the `--no-publish` flag and then have the actual publish handled on the CI/CD server (e.g. with `npm publish`.)

Now, if one is using np to generate a prerelease SemVer release, when publishing locally np is smart enough to add the `next` dist tag to the publication.

But if using with `

[2019-05-08 09:02] itaisteinherz commented on #391
I just noticed the [`--dry-run`](https://docs.npmjs.com/cli/publish) flag for `npm publish`, which could be useful here.

[2019-05-10 00:28] TiagoDanin commented on #391
I don't understand 🤔. Did you mean: `--no-publish` ?

[2019-05-10 03:35] itaisteinherz commented on #391
No, this is what I meant:

<img width="600" alt="Screenshot" src="https://user-images.githubusercontent.com/22768990/57500721-1ebc8e00-72ed-11e9-87c8-6a8572c8b775.png" />

[2019-05-10 21:02] RobinBuschmann opened #404 "Release draft not opened after executing np"
## Description
Release draft does not open after executing `np <version>`.

## Steps to reproduce
Just call `np <version>`

## Expected behavior
According to the docs a prefilled release draft is opened in the browser.

## Environment
np - 5.0.1
Node.js - 10.15.0
npm - 6.9.0
Git - 2.17.2
OS - macOS Mojave 10.14.4

[2019-05-10 21:08] TiagoDanin commented on #391
I believe not, because the NP does not show output of NPM.

[2019-05-10 23:34] itaisteinherz commented on #404
Refs https://github.com/sindresorhus/np/pull/397#issuecomment-488261887

[2019-05-11 10:09] muuvmuuv opened #405 "Would love to see compatibility with VS Code Marketplace"
## Description

I really like the idea of automating the deploy/release process. This really helped me to avoid having 6 scripts and a lot of npm scripts before npm publish something. Now I had the idea, that the same process is the same with vsce publish, so what about making this possible too?

**Is the feature request related to a problem?**

Somehow, it would just speed up the process.

## Pos

[2019-05-11 13:06] itaisteinherz commented on #405
Have you tried using `np --no-publish && vsce publish`?

Regarding the `--vsce` flag you suggested, I don't think we'll add built-in support for `vsce` anytime soon, as that would expand `np`'s scope beyond the currently intended one as well as increase its installation size. However, we are thinking about adding more ways to customize `np` for specific use cases - see #386.

[2019-05-11 13:15] sindresorhus commented on #405
Yeah, this is outside the scope of `np`. We do intend to make it more flexible though.

[2019-05-11 13:15] #405 closed

[2019-05-14 23:53] mikehardy commented on #398
In my case it is somehow not detecting that my package already exists, and is public. So it actually publishes but then blows before it can push tags or open the release draft. Odd error handling

[2019-05-15 09:52] itaisteinherz commented on #398
@mikehardy Can you you open a separate issue detailing the specific problem you're experiencing?

[2019-05-15 14:24] mikehardy commented on #398
Sure thing

[2019-05-16 01:56] JCMais opened #407 "np call to yarn publish hangs because yarn asks for new version"
np: 5.0.1
using yarn

![image](https://user-images.githubusercontent.com/1041647/57820766-71220280-7764-11e9-872b-970d3a550bf6.png)

[2019-05-16 02:10] JCMais commented on #407
nvm, there seems to be something weird with yarn, even running it with `--non-interactive` it still hangs, I will use npm for publishing

[2019-05-16 02:10] #407 closed

[2019-05-16 05:56] itaisteinherz commented on #407
@JCMais You could try opening an issue over at [`yarn`].

[2019-05-18 02:14] ianwalter opened #409 "Check npm or yarn audit before publishing"
## Description

I think it would be helpful to package authors if running np checked `yarn audit` or `npm audit` for any critical vulnerabilities by default and could be configured for different vulnerability levels as desired.

**Is the feature request related to a problem?**

The problem is that I think it's easy to forget to run `yarn audit` manually and so you could be publishing a package wit

[2019-05-20 09:11] itaisteinherz commented on #409
@ianwalter This sounds like a great suggestion, which will definitely help package maintainers and make `np` more useful 😄
In case you're interested, it would be awesome if you could create a PR with this, and I'll gladly review and merge it.

[2019-05-20 09:35] sindresorhus commented on #409
I’m skeptical. There’s just too many false-positive reports and most audit reports don’t actually apply to ones package. I think having this is just going to be an annoyance.

If we add it, it should be opt-in.

[2019-05-20 12:41] itaisteinherz commented on #409
Let's keep this on hold until the audits reported by npm and Yarn seem to be robust enough to be considered good prerequisite checks for `np`.

@ianwalter For now, you can set the `test` npm script to be `yarn audit && [run tests]` to have your package manager audit the package's dependencies as part of the publishing workflow.

[2019-05-21 03:40] ianwalter commented on #409
Yea, that is a problem, but I feel like upgrading to a patched version is usually easier than doing the detective work of figuring out how a vulnerability affects your package. Opt-in would be fine. I would not want to run the audit every time I run my tests. That would certainly get annoying, but thanks for the suggestion.

[2019-05-22 19:22] janpio opened #414 "`np` doesn't actually check for unpulled changes (before showing version selection in interactive mode)"
## Description

The readme states:

When trying `np` for the first time on a random repo I had checked out, this did not happen though:

[code]

As

[code]

(4 unpulled changes) both the current version `5.0.3-dev` and the last tag `5.0.2` used to get the commits were wrong.

Running `git pull` and `git fetch --tags` manually fixed the problem.

## Expected behavior

I expected `np` to also check

[2019-05-23 06:41] itaisteinherz commented on #414
`np` will only check for unpulled changes _after_ you select the version you'd like to publish, as part of the prerequisite tasks. Can you wait for those to run and see if you then get an error reported about the unpulled commits?

If you still don't get an error reported, try running `git rev-list --count --left-only @{u}...HEAD`, and comment the output printed by the command.

[2019-05-23 09:11] janpio commented on #414
I now understand how it works (and indeed, selecting a version then runs into the failing check), but it wasn't what I was expected. This false start of showing a wrong version and using a wrong tag to display the commits could be avoided if the "is it up to date" check would be done before the version selection is displayed.

[2019-05-23 10:16] itaisteinherz commented on #414
This isn't really a bug, but I agree that currently `np`'s increment selection UI is a bit confusing in this case.
Since we shouldn't remove the `unpulled changes` check from the prerequisite tasks (as that needs to run even if the user has provided the next version to publish), I think that there are two ways in which we could solve this (though feel free to suggest anything else you come up with

[2019-05-23 10:52] janpio commented on #414
I know almost nothing about how `np` works internally, but as from how you describe it the `unpulled changes` check _always_ has to pass before publishing (correct?), I think 1) is the better choice here. It allows reusing the same code and error message here.

(While we are at it thinking about this: Are there any other checks that might be useful before showing the increment selection UI?)

And

[2019-05-23 11:09] itaisteinherz commented on #414
Yes

Yeah, that's not what we're aiming for (and also the [`Check for pre-release version` check](https://github.com/sindresorhus/np/blob/8f0de8393e8f96ec28ebef388860849666dc3765/source/prerequisite-tasks.js#L76-L83) requires the published version).

Not that I can think of.

[2019-05-23 11:12] itaisteinherz commented on #414
In case you're interested, feel free to create a PR with what we discussed above and we'll proceed to getting this landed in `np` ✨

[2019-05-23 11:14] itaisteinherz commented on #390
@ntwb Any chance you could take a look at our comments above? 🙃

[2019-05-23 11:43] janpio commented on #414
On it.

[2019-05-24 07:14] rdmurphy opened #416 ""npm whoami" check fails if np is ran in an npm-script by yarn"
## Description

I've added a `release` command to `scripts` in my `package.json` as [documented in the README](https://github.com/sindresorhus/np#release-script), but I can only get it to successfully determine whether I am logged in to npm if I run it with `npm run release` instead of `yarn release`.

## Steps to reproduce

1. Add command to `scripts` in a `package.json` that calls `np`
2. Call i

[2019-05-24 11:08] itaisteinherz commented on #416
I was able to reproduce this by running `$ yarn release` in [`itai-playground` v0.5.2](https://github.com/itaisteinherz/itai-playground/tree/v0.5.2) (manually running `$ np --no-yarn` did work as expected).

[2019-05-24 11:30] itaisteinherz commented on #416
@rdmurphy This seems to be similar to yarnpkg/yarn#5683 and #256. Does running `$ yarn login` do the trick for you? For me it still doesn't seem to work.

[2019-05-25 03:51] dpmcmlxxvi opened #417 "GitHub login prompt not displayed"
## Description

When running `np` there doesn't appear to be any "username/password" prompt to enter the GitHub credentials at the 'Publishing tags' step. Or at least it may be hidden.

After several minutes with nothing happening I pressed enter a few times and saw it failed to validate the credentials. So, I re-ran and when it got to 'Publishing tags', I guessed it was waiting for my credentials

[2019-05-27 13:15] amejiarosario opened #418 "npm version is failing and I have the lastest"
## Description

I'm using npm 6.9.0 and np is still complaining:

![image](https://user-images.githubusercontent.com/418605/58422052-96b1e480-805f-11e9-9cf5-a08c6ba1ebff.png)

## Steps to reproduce

1. np
2.
3.

## Expected behavior

Go through since my npm is up to date

## Environment

np - 5.0.2
Node.js - 10.12.0
npm - 6.9.0
Git - 2.19.1
OS - Mac OS X 10.14.4 (build 18E226)

[2019-05-28 01:04] Charliekenney23 commented on #383
Working on this now. I plan to put several PRs up for testing each domain

[2019-05-28 06:43] malexsan1 commented on #418
I am experiencing the same issue using `node 10.15.3` and `npm 6.9.0`. I can make it work by switching to the latest node version (12.3.1), but my whole testing environment expects node 10, so I need to just go `--yolo`. 😢

[2019-05-28 10:14] itaisteinherz commented on #418
I couldn't reproduce this locally on my machine.
Can you try running `npm i node -e "console.log(require('semver').satisfies('6.9.0', '<6.8.0'))"` and comment the output of the command?

[2019-05-28 13:56] amejiarosario commented on #418
@itaisteinherz
[code]

[2019-05-28 15:18] kapooostin opened #420 "Login to private repository fails"
## Description

`np` fails to publish package due to login error:
[code]
Yet I did login beforehand and both `npm publish` and `yarn publish` succeeded without any hitch. `np` also fails to ensure that my repo has been published because it has been more than once.

## Steps to reproduce

I'm trying to publish a scoped package to [Gemfury.io](https://gemfury.com/).

## Expected behavior

`np` shoul

[2019-05-28 20:51] itaisteinherz commented on #418
@amejiarosario Sorry, I meant `node -e "console.log(require('semver').satisfies('6.9.0', '<6.8.0'))"`. For some reason the `npm i` was added.

[2019-05-29 12:07] janpio opened #421 "`np` does not actually ensure "that there are no unpulled changes""
## Description

The README states that `np` "Ensures ... that there are no unpulled changes". This is only true if the local checkout already knows that there are remote changes that could be pulled because this information was fetched.

Look at this failure:

[code]

The check that "Ensures ... that there are no unpulled changes" [runs this command and fails if something other than 0 is returned]

[2019-05-29 12:10] janpio commented on #421
(Interesting side effect: the tags actually got pushed to the remote origin repo, just the commits to `master` failed. That was unexpected to me, but of course makes sense if you look at the output: The tags are pushed first, and only during the pushing of `master` does it fail.)

[2019-05-29 12:26] janpio commented on #421
I think this command might be a way to find out if there are remote changes to be fetched/pulled that works without touching the local checkout (we don't want to change anything if the users might not want to):

[code]

With `--verbose` we also see all the stuff that doesn't indicate changes:

[code]

So I think we might use `git fetch origin --dry-run` to output a `There seem to be unfetched chan

[2019-05-29 13:59] amejiarosario commented on #418
[code]

[2019-05-29 14:10] itaisteinherz commented on #418
@amejiarosario I have no idea why you're experiencing this issue 😕
If you could try to debug this yourself and let us know what you come up with that would be awesome, but otherwise that I don't think I can do anything to help with this except for changing the minimum required version of Node.js to be v12.

[2019-05-29 14:23] GonchuB commented on #416
Having the same problem. yarn login does not fix it for me. For me the issue occurs when trying to get info regarding a private package. When running inside yarn, the script gets a 404 (because I'm not authorized in that context, apparently the shell is not signed in to npm?). When running outside of yarn, the package is retrieved correctly

I can reproduce this by doing, with a private package:

[2019-05-29 14:57] janpio commented on #421
Possible implementation, modelled after [`isRemoteHistoryClean`](https://github.com/sindresorhus/np/blob/53d20d993d59764372467a9c8a3e77f0c3deb4d2/source/git-util.js#L59-L70):

[code]

And a possible `verify` method:

[code]

Wording of the message should probably be refined.

[2019-05-29 16:21] janpio opened #422 "`np` pushes committed but unpushed changes"
## Description

When you have committed but unpushed changes, those are pushed by `np`.

## Steps to reproduce

1. Have a repo with commits that have not been pushed yet
2. `np`
3. Observe that `np` automatically adds the version commit and pushes everything up to the remote and publishes this to npm

## Expected behavior

a) This is intended behavior, then it should probably be documented
b) This

[2019-05-29 16:23] sindresorhus commented on #422
It's `a`, intended behavior. But yes, we should document that.

[2019-05-29 16:50] itaisteinherz commented on #422
@janpio Unrelated question: are you experiencing #418 as well? It seems like you're using a Node.js version similar to the issue's author.

[2019-05-29 16:57] janpio commented on #422
@itaisteinherz Wrong issue link? The versions there are pretty different to mine (both node and npm) but used `np` a few times today, no problems with the npm version check.

[2019-05-29 16:59] itaisteinherz commented on #422
Just noticed you're using npm v6.4.1, which means that `np` should fail anyways 🤔

[2019-05-29 17:06] janpio commented on #422
Ahem, I just updated that part of my issue: I use nvm and switch versions regularly, but copy pasted this section from the first issue #414 and where I didn't actually get to the checks. Sorry.

[2019-05-29 17:14] janpio commented on #418
How did you install node?
How did you install/upgrade npm on that node?

[2019-05-29 17:37] itaisteinherz commented on #422
No worries 👌🏻

[2019-05-29 17:59] amejiarosario commented on #418
I installed Node using [asdf nodejs](https://github.com/asdf-vm/asdf-nodejs) and updated npm using `npm i -g npm`

[2019-05-29 18:07] janpio commented on #418
If I were you and wanted to debug this, I would find my local installation of `np` and add a few `console.log` to line 88 in https://github.com/sindresorhus/np/blob/71880f97c5527737dbff5c3f9c0b01ac9cade8cb/source/npm/util.js#L86-L92

[code]
might tell you something.

[2019-05-29 18:12] amejiarosario commented on #418
I tried but console.log were not printed on the stdout. Not sure if they are being redirected. I just commented out line 90 and everything worked :) But, it's annoying, every time I update this package I'd have to comment out the `throw` error.

[2019-05-29 18:20] janpio commented on #418
Oh right, that list runner thing probably. Then I would add it to the error that is thrown ;)

[2019-05-29 18:26] itaisteinherz commented on #418
@amejiarosario You could also try what @janpio suggested - `throw new Error("thing to log to the terminal...")`.

[2019-05-29 18:28] itaisteinherz commented on #418
Also:

[code]

[2019-05-29 19:08] janpio commented on #422
Back to the original issue: Although Sindre mentioned that the current behaviour is intended for `np`, maybe someone else needs some code (e.g. as a check) that returns how many commits are not pushed:

[code]

[2019-05-29 19:09] janpio commented on #422
Actually, one could argue this is already the case:

How could we make clear that this also includes already existing commits?

Or should be put this somewhere else, as a "Caution" paragraph maybe?

[2019-05-29 19:11] itaisteinherz commented on #422
👍🏻

I don't think that would be necessary (as usually if you commit something you intend on pushing it anyways).

[2019-05-29 19:16] janpio commented on #422
You are probably right. My reason why I stumbled over this was that I had tested `np` on a repo in a throwaway checkout, then reset the branch to an earlier state and force pushed (on my main checkout). When I tested again, I unexpectedly got the previous testing commits pushed again.

This would describe what is happening:

But it sounds much to complicated and probably confusing.

[2019-05-29 20:01] itaisteinherz commented on #422
What about:

This still feels a bit redundant and obvious to me though.

[2019-05-30 11:05] seognil opened #424 "Failed within `np`,`scoped package`,`publishConfig.registry`"
## Description

I failed the scoped package publish process within `publishConfig.registry` in `package.json` using `np`

But works fine without `publishConfig.registry`

Error message is:

[code]

---

I dive into the code and found this:

[code]

So once If `publishConfig.registry` is declared in `package.json`, it'll directly point out the package `isAvailable`,
(Even if it is also `https://reg

[2019-06-02 04:54] #404 closed

[2019-06-02 10:23] itaisteinherz commented on #424
It seems like the issue's origin is in `npm` rather than `np`, since when I tried running `$ npm access 2fa-required @seognil-playground/npm-feature-test` locally I got the following error:

[code]

Which is identical to the one you get when using `np`.

[2019-06-02 10:27] itaisteinherz commented on #424
It would be great if you could open a bug report for this over at [npm](https://npm.community/c/bugs).

[2019-06-02 12:53] seognil commented on #424
1. yep, maybe that `npm 2fa` feature also has some issue there.

2. One Thing I thought was a problem is that:
`isPackageNameAvailable` is also not check from registry (npmjs.com)
It just check from the local configuration.

like I said.

I mean
[code]
`np` will treat the lib always as *unpublished* and *available* then go to the init publish process

[2019-06-02 16:02] itaisteinherz commented on #424
I just remembered #356, in which I implemented `isPackageNameAvailable`. The reason it always returns `true` when a user sets the `registry` option in `publishConfig` is that [`npm-name`](https://github.com/sindresorhus/npm-name) doesn't support custom registry URLs yet. However, I've already opened sindresorhus/npm-name#33, which will add that functionality and should fix this as well.

[2019-06-03 04:28] itaisteinherz commented on #103
Even before the `ui.js`, or after that but before publishing begins?

[2019-06-03 06:29] sindresorhus commented on #103
@itaisteinherz I would show it before/above `Publish a new version of github-username (current: 5.0.1)`.

[2019-06-03 20:56] dotconnor opened #426 "Fails to run with Yarn Nightly"
## Description

When using a nightly version of Yarn (via `yarn policies set-version nightly`), Yarn uses a non-semver version, e.g. `1.17.0-20190524.0703`. This causes the Prerequisite check, Check yarn version fail.
## Steps to reproduce

1. `yarn policies set-version nightly`
2. `np`
3.

## Expected behavior

np should work with a nightly version of Yarn.
## Environment

np - 5.0.2
Node.js - 11

[2019-06-04 04:38] itaisteinherz commented on #426
We currently use [`semver`](https://github.com/npm/node-semver) for version parsing, which can't handle versions like `1.17.0-20190524.0703` and considers those to be invalid. However, [`@hapi/somever`](https://github.com/hapijs/somever) appears to be a viable replacement for `semver` (or at least for parsing versions), and can also [correctly parse such versions](https://runkit.com/embed/f8e6h7qm

[2019-06-04 13:27] mikehardy opened #427 "2FA fails with 400 Bad Request on initial package publish"
## Description

I created a new package, got it all ready, and I go to publish it with np but on initial publish I get

[code]

## Steps to reproduce

1. `mkdir MyAwesomeNPTest && cd MyAWesomeNPTest`
2. `npm init` then do what you need to make it a valid package for np publish, like make the test script empty so it passes...
3. `npx bin np`

## Expected behavior

I expect a bunch of happy output,

[2019-06-04 13:28] mikehardy commented on #398
opened fresh issue as instructed #427 - would be nice to be able to disable 2FA so I could push through, thus my interest in this issue

[2019-06-04 13:29] mikehardy commented on #427
It is worth noting that the package did successfully publish.
The 2FA failure interrupted the process so `git push --tags` didn't execute and the release draft wasn't opened, but np did it's main job: get the release out, so that's useful

[2019-06-04 17:24] itaisteinherz commented on #398
We should probably tackle these issues separately.

[2019-06-04 17:31] itaisteinherz commented on #427
Note that this is quite similar to #424, and so the two issues might be caused by the same problem.

[2019-06-04 17:58] itaisteinherz commented on #404
@RobinBuschmann Did #425 fix the issue for you?

[2019-06-04 18:01] itaisteinherz commented on #426
@dotconnor I'd happily review and accept a PR migrating `np`'s version parsing to use `@hapi/somever` instead of `semver` 😉

[2019-06-04 18:05] #422 closed

[2019-06-04 18:45] janpio commented on #422
Oh sorry, missed your comment - but this sounds pretty good.

[2019-06-04 21:13] dotconnor commented on #426
@itaisteinherz It doesn't look like `@hapi/somever` is compatible with how yall are doing version checking.

[2019-06-04 22:27] mehulkar opened #428 "Ability to skip tests (not cleanup)"
I would like to be able to skip running tests before release, but not the cleanup part. `--yolo` option without the skipping of cleanup

[2019-06-05 07:38] saulimus commented on #418
My project uses auditjs, which has npm 5.8.0 as a dependency.
`await execa.stdout('whereis', ['npm']);` shows that it is using "<project>/node_modules/.bin/npm" instead of globally installed npm, which for me is 6.9.0.
Is there a way to force np to use the global one?

[2019-06-05 10:30] itaisteinherz commented on #426
Why not? From a quick look at [the tests](https://github.com/hapijs/somever/blob/master/test/index.js), it seems like we'll be able to use `@hapi/somever` for cleaning the given version in the constructor, validating versions and comparing versions using ranges, which is nearly everything we need. We could also just use `@hapi/somever` in the constructor of `Version` to clean the given version usi

[2019-06-05 10:31] itaisteinherz commented on #418
@saulimus See #410.

[2019-06-05 21:57] brmscheiner commented on #420
I'm having the same problem. In `package.json` I have the following config:
[code]

[2019-06-05 22:05] brmscheiner commented on #420
Actually @kapooostin I found a solution based on #256. `yarn login` didn't work as suggested in the thread, but using `npm run release` instead of `yarn release` did the trick.

(in my package.json I have a release script: `./node_modules/.bin/np --yolo`)

[2019-06-05 22:08] kapooostin commented on #420
I guess, this is the reason behind the issue https://github.com/sindresorhus/npm-name/issues/31

[2019-06-12 06:16] sindresorhus commented on #249
https://github.com/sindresorhus/np/pull/250#issuecomment-501135898

[2019-06-12 06:16] #249 closed

[2019-06-12 12:49] Ore4444 opened #430 "yarn workspaces"
## Description

Support can be added to selectively publish one/some of your subpackges in a Yarn workspace. I imagine it would then seamlessly integrate with tools like Lerna. As of today, I couldn't find a tool to simply publish a single package (together with its inter-package deps) from a workspace

[2019-06-16 19:25] nout-kleef opened #431 "NP does not prompt for release draft"
## Description
NP correctly pushes my changes to GitHub (adds semver tag correctly), it also publishes the new release to NPM registry.
What does not work, however, is prompting me for a release draft/update log (not sure what you call it).
Instead, my terminal outputs a vague stack trace relating to some uncaught exception (which I will paste down below).

## Steps to reproduce
1. ensure NPM logi

[2019-06-16 19:33] nout-kleef commented on #431
At first, I assumed `cmd.exe` (mentioned in error message) was unable to spawn because of a `$PATH` issue, but I added the directory to `$PATH` using `PATH=$PATH:/mnt/c/Windows/System32`.

[2019-06-18 05:51] Anadian commented on #418
Having this same issue with Node 12.4.0 (installed via HomeBrew), NPM 6.9.0 (installed via `npm i -g npm`), and `np` 5.0.3 (installed via `npm i -g np`); `node -e "console.log(require('semver').satisfies('6.9.0', '<6.8.0'))"` just prints `false`; and I don't believe I have any "local" `npm` binaries installed: has anyone actually figured out a real solution for this yet?

[2019-06-18 21:03] colinking opened #432 ""Verify user is authenticated" Credentials Issue"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2450%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/np/issues/432)

Hitting an issue with authentication when trying to publish a private scoped package to `npm`.

Running `yarn run release` (where `"release": "np"` in `package.json`):

[code]

What's odd is that I am logged in:

[code]

And I'm even able to

[2019-06-18 21:04] colinking commented on #432
Also worth noting, I tried `yarn logout && yarn login` (from https://github.com/sindresorhus/np/issues/256#issuecomment-406925911) but that didn't seem to work here.

Also looks like @brmscheiner ran into the same issue based on their comment here: https://github.com/sindresorhus/np/issues/420#issuecomment-499273013

[2019-06-21 09:28] sholladay opened #434 "Release draft uses wrong tag"
## Description

The tag that `np` uses in the release draft template is based on the raw input of the user _on the command line_, rather than the actual tag being used during the release. This causes the release draft to be broken for users who increment the package version by semver type instead of providing a predetermined version number. For example, running `np major` instead of `np 1.0.0`.

#

[2019-06-21 11:03] sindresorhus commented on #434
// @yaodingyd

[2019-06-21 20:37] yaodingyd commented on #434
Confirmed. Working on a fix.

[2019-06-23 19:28] aleclarson commented on #251
Can we make a compromise and support pnpm lockfiles for the install step? Everything else can stay the same. :)

[2019-06-23 20:34] itaisteinherz commented on #251
I think that it doesn't really make sense to partially support something, and so I wouldn't vote for doing this. Feel free to use npm hooks to customise your installation scripts, but I don't think we'll integrate any new package managers into np in the near future.

[2019-06-23 20:39] aleclarson commented on #251
@itaisteinherz In this context, partial support *does* make sense. Apart from the install step, pnpm integration wouldn't change the behavior in any meaningful way. But taking advantage of pnpm lockfiles speeds up the process and is very easy to support/maintain. I guarantee it. 😄

[2019-06-23 20:50] itaisteinherz commented on #251
@aleclarson While that sounds reasonable and I would love to add such functionality to `np`, the cost of maintaining such a feature will be relatively high, and I wouldn't want to take that burden on myself (as well as on Sindre and Sam, of course).

As Sindre and Sam have already mentioned before, even the smallest things such as supporting Yarn for installing dependencies can cause quite a heada

[2019-06-23 20:52] itaisteinherz commented on #251
Also note that this is related to #386.

[2019-06-24 06:24] #434 closed

[2019-06-24 06:59] itaisteinherz commented on #432
This is the error I get when trying to execute the command:

[code]

This also might be related to #395, #317 and a few other similar issues.

[2019-06-24 20:37] itaisteinherz commented on #431
This sounds like an issue caused by an issue with your local configuration.
You should take a look at AtomLinter/linter-tidy#68, which might be helpful (note the difference between what they suggested over there and what you did in https://github.com/sindresorhus/np/issues/431#issuecomment-502479409).

[2019-06-24 20:39] itaisteinherz commented on #418
@amejiarosario @saulimus @Anadian Can you check out #410 and see if it fixed the issue for you?

[2019-06-25 22:17] aparajita opened #437 "Publishing to github registry fails"
## Description

I just received access to the github package registry. When trying to use `np` it fails in the prerequisite stage:

[code]

When I try `npm access ls-collaborators @willsub/logger` from the CLI that fails because it's trying to access the npm registry and not the github registry.

**Problem #1**
It seems `np` is not picking up the custom registry, even though I have that specified

[2019-06-26 22:46] dfernandez79 commented on #437
I ran into the same issue, without luck 😭

If you look at the code you can skip that pre-check by setting `NODE_ENV=test` (a quick source search told me that `NODE_ENV` seems to be used to skip that step only).

In my case `npm publish` failed after all the checks (I'll need to check the permissions), but this workaround may be helpful for you.

[2019-06-27 07:08] Romanchuk commented on #424
Hello, i'm struggling with same issue.
Trying publish package to my private registry

[code]
And as a result i got this
[code]
Note that after npm access it POSTs to official npmjs registry?!

[2019-06-27 20:31] aparajita commented on #437
I'm just using `npm version` with a `postversion` script that commits and publishes.

[2019-06-27 23:45] TriangularCube commented on #417
Can confirm, ran into this today.

[2019-06-29 07:52] #428 closed

[2019-06-29 09:14] itaisteinherz commented on #391
Maybe we could show parts of the output returned by `npm publish --dry-run`, or even the whole output (I'm not sure if `listr` will allow us to do this though).

[2019-07-01 11:17] code4cake opened #438 "Adding typing to the project"
Add `flowtype` or `typescript` to the project.

## Description

**Is the feature request related to a problem?**

Not really. Just a possible "enhancement"

## Possible implementation

Adding `flowtype` library definitions incrementally to the project since it has a lower entry barrier and it can be added incrementally.

## Alternatives
Adding `typescript` instead

[2019-07-01 11:55] sindresorhus commented on #438
Why? I don't see how that's useful seeing as this is a command-line tool. If we were to add types, it would be to ease development and then it would be easier to just rewrite in TypeScript.

[2019-07-03 10:48] matjack1 commented on #418
just to give a feedback, I'm using np v5.0.3, following the thread in #410, but I'm still experiencing the problem as the others :(

[2019-07-03 15:20] sindresorhus commented on #103
The `files` field and `.npmignore` check was added in https://github.com/sindresorhus/np/pull/411.

We still need to do:

[2019-07-04 17:30] cereallarceny commented on #61
The [`auto-changelog`](https://github.com/CookPete/auto-changelog) package suggests you do the following:

[code]

That's what I do in all my packages with `release-it` @webpro, but I haven't yet tested this in `np`.  I figure it should work since it just hooks on to the `version` script.  Whenever `npm version` is run, it should run that command.  Would this work in `np`?

[2019-07-05 11:04] cereallarceny commented on #416
I have this problem as well.  I've switch to running `npm run release` for the time being... which is a pain in the ass.  [I had success adding this](https://github.com/release-it/release-it/issues/95#issuecomment-344176825):

[code]

But that's a huge workaround for me.  I'd rather not have to add that.

[2019-07-07 16:33] itaisteinherz commented on #61
Note that `np` currently does this (sort of) when creating a GitHub release draft.

I don't think that `np` should have built-in changelog generation, as that would be beyond the scope of this project and require a lot of time and effort to maintain. However, this can be done by using npm lifecycle hooks (see the comments above).

This is also related to #386, which I'd love to see some input on.

[2019-07-07 16:34] itaisteinherz commented on #61
@sindresorhus Can this be closed? It seems to me like we've already implemented most of what's being suggested here, in one way or another.

[2019-07-07 16:39] itaisteinherz commented on #254
Yes, you can use all of the [available hooks](https://docs.npmjs.com/misc/scripts).

No. The piece of documentation you quoted is only intended to let people know that they can take advantage of the npm lifecycle hooks triggered by `np` to extend its capabilities. `np` doesn't intentionally trigger any hooks, it simply executes regular npm commands, such as `$ npm install`, `$ npm test`, `$ npm pu

[2019-07-07 16:39] #254 closed

[2019-07-07 16:53] #61 closed

[2019-07-08 18:29] TiagoDanin commented on #391
![DeepinScreenshot_select-area_20190702111444](https://user-images.githubusercontent.com/5731176/60833025-c04c4880-a193-11e9-917e-e055924ecb0e.png)

Name and version are already displayed in NP. And the output of `--dry-run` is immediately displayed (no waiting), `listr` only show one line at a time.

Another problem is that Yarn has no option `--dry-run`.

PS: Sorry for the delay.

[2019-07-09 06:13] itaisteinherz commented on #391
@TiagoDanin Since, as you said above, the output of the command isn't really helpful and the option doesn't exist for Yarn, let's just print the publish command.

[2019-07-13 03:28] resurge commented on #312
I'm having the same issue but with npm.
![](http://i.imgur.com/tSDpJ8C.png)

The package has published successfully, but np hangs on the publishing step.
When I ctrl-c out of it the version in my package.json gets rolled back and no update happens in git.

[2019-07-13 07:25] itaisteinherz commented on #312
@resurge I think that the issue you're experiencing is #79 (which you could bypass using a hack - see https://github.com/sindresorhus/np/issues/79#issuecomment-249527282).

[2019-07-15 08:18] metaa commented on #391
Please also respect [this issue](https://npm.community/t/npm-publish-dry-run-show-which-registry-the-package-will-go-to/2563).

It's super important to know for sure where you are publishing to when it might be private stuff. A simple misconfiguration somewhere might lead to publishing to the NPM registry with you might not want.

[2019-07-15 09:08] resurge commented on #312
Hmm, possibly. However I tried the workaround without success.
When tapping the enter key the line "Prerequisite check" gets duplicated.

My private key doesn't have a passphrase set.
So I tried my npm password, assuming it's the npm password prompt that was waiting for a password there, but without success.

![](http://i.imgur.com/VIaH6x5.png)

[2019-07-21 15:49] sindresorhus commented on #437
I don't have access to the GitHub Package Registry, so I can't help much. But PRs are welcome to improve the situation.

---

Please report this to the GitHub Package Registry team.

[2019-07-21 15:50] sindresorhus commented on #414
For anyone that wants to work on this, see the feedback in https://github.com/sindresorhus/np/pull/415.

[2019-07-21 16:59] janpio commented on #414
Explicit links to stuff I could not take care of, which caused the PR to stall:

- missing tests: https://github.com/sindresorhus/np/pull/415#issuecomment-495252562
- another check requested: https://github.com/sindresorhus/np/pull/415#issuecomment-499381380
- remove the check from somewhere else: https://github.com/sindresorhus/np/pull/415#issuecomment-499397193

<3

[2019-07-24 01:29] futurist opened #440 "Throw Cannot read property 'type' of null for private git repo"
## Description

When work with private git repo, `np` will throw below message:
[code]

## Steps to reproduce

1. For a repo with private repo like below in `package.json`
[code]

2.

Run `np`

3.

Throw: `Cannot read property 'type' of null`

## Expected behavior

Should work with private repo

## Environment

np - 5.0.3
Node.js - 12.4.0
npm - 6.9.0
Git - 2.20.1
OS - macOS 10.14.5

[2019-07-30 19:31] #148 closed

[2019-07-30 19:32] fregante commented on #148
Solved by https://github.com/Rich-Harris/packd

https://twitter.com/fregante/status/1145545736655818752

[2019-08-03 20:48] #440 closed

[2019-08-05 19:15] thesublimeobject commented on #320
@sindresorhus it's been awhile, but there still seems to be a decent amount of issue on issuehunt. i assume you still want some help on the issues listed if i can provide it?

[2019-08-05 19:34] sindresorhus commented on #320
Yes, help is always welcome.

[2019-08-09 06:59] Crowbrammer opened #442 "Np skipping the draft release step"
np's totally skipping the draft release step, and I don't know how I made it do that.

At first, it skipped pushing the tags because it "didn't detect an upstream branch". This was weird to me because it had to push the changes somehow. Then I type `git push --set-upstream origin master`, and that handled the tag pushing. Now it pushes the tags... but it skips the release draft step. I'm not using

[2019-08-09 08:26] Crowbrammer commented on #442
Tried adding a local .np-config.json file:

[code]
No avail. Trying to figure out how to configure np globally. (I have my global np directory open, I'll try sticking an .np-config.json file in there.)

[2019-08-09 08:31] Crowbrammer commented on #442
Sticking the .np-config.json file into `.../npm/node_modules/np` didn't work.

Also, I'm thinking that when I first used np, the release drafts just worked. So, this probably isn't a config issue.

[2019-08-09 09:25] Crowbrammer commented on #442
Added .np-config.json to my root directory (`~/.np-config.json`).

[2019-08-09 19:34] Crowbrammer commented on #442
I tested changing :223-228 to make `enabled: () => true` instead of `enabled: () => isOnGitHub === true`

[code]

The result is:
[code]

[2019-08-09 20:08] Crowbrammer commented on #442
In ui.js, I added a bunch of console.logs:

[code]
It resulted in
[code]

[2019-08-09 21:00] Crowbrammer commented on #442
After searching the util.js, cli.js, ui.js, and index.js, I learned that it (the release portion, at least) doesn't detect the GitHub repo through the git folder. It detects it through the package.json.

This means that if you `npm init` a package before `git init`, it won't add the GitHub repo to the package.json file. If you forget or don't know to add it manually, np will skip the release draft

[2019-08-09 21:00] #442 closed

[2019-08-13 02:48] zombieJ opened #444 "`--no-publish` still ask for tag"
## Description

When set with `--no-publish` on execution, it still ask for tag but not working:
[code]

## Steps to reproduce

[code]

## Expected behavior

Not ask for `tag`

## Environment

np - 5.0.3
Node.js - v10.15.0
npm - 6.9.0
Git - 2.18.0
OS - IOS

[2019-08-18 17:12] bunysae commented on #79
I start working on this issue. I actually had the same issue
with using pinentry-curses as the pinentry-program.

My solution would look like:

1. check, if the user has commit signing activated
2. if step 1 is true, display a passphrase dialog using listr-input, otherwise omit the dialog
3. give the command "npm version" the passphrase as a parameter (this step would require a new feature at npm

[2019-08-22 13:09] novemberborn commented on #437
I've just published to GitHub using np 5.0.3. I did set up the scope beforehand, and had added `publisherConfig` to the `package.json` file.

Two observations:

* You can't enable 2FA on the package. This step should be skipped.
* GitHub automatically creates a tag on `master`. I think we should push tags *before* publishing.

[2019-08-22 15:47] novemberborn commented on #437
Actually it looks like it always wants tags without `v` prefixes. Will see how / where I can ask about that and report back.

[2019-08-23 10:00] matjack1 commented on #418
I've managed to solve the issue by reinstalling node (with asdf) and then running the local version of np (`yarn run np`).

If you do that you have also to run `yarn login` as only `npm login` won't be enough.

[2019-08-24 13:26] novemberborn commented on #437
I've been given to understand this will improve.

[2019-08-24 16:14] dapaulid opened #445 "Automatic Semver"
Provide an adequate suggestion for semver increment based on integration tests.

## Description

I came across an interesting method on how to automatically determine semver increment in  [this article](https://gist.github.com/sidorares/c49750ed8f7750afd5ad#packages).

Except that (1) and (2) are IMHO mixed up in the decision, I think this is a pretty neat way to provide the user with a good sugge

[2019-08-26 06:32] vicdelfant commented on #437
We have access with our (private) organization; we wouldn't mind helping you out with a collaborator account if this would make testing easier.

[2019-08-26 10:21] sindresorhus commented on #437
Thanks, I have access now too, but I’ve had no time recently because of summer vacation.

[2019-08-27 09:13] BenjaminRuehl opened #446 ""Bumping version using npm" runs forever"
## Description

I try to publish a new version to npm. Since last commit there are no commits. Step "Bumping version using npm" runs forever. After cancellation with control-c i can see the prompt "No commits found since previous release, continue? (y/N)". For me it looks like np is waiting for input but i cannot interact with the prompt. Maybe it's in the background?

## Environment

np - 5.0.3
N

[2019-08-27 09:41] BenjaminRuehl commented on #446
Problem found. The package.json script, which executes np, must not named publish. I renamed it to release and everything worked fine.

[2019-08-27 09:41] #446 closed

[2019-09-01 14:08] JazzBrown1 opened #447 "Fatal Error on start: unknown revision or path not in the working tree."
Hi I was receiving this error when trying to make my first release for a library:

× Command failed: git log --format=%s %h d241c19ce84368e7041b89c8a7601b698ed3a4b9
7c567fd16c27877fdd9a60faf9eb92d24407e55e..HEAD
fatal: ambiguous argument 'd241c19ce84368e7041b89c8a7601b698ed3a4b9
7c567fd16c27877fdd9a60faf9eb92d24407e55e..HEAD': unknown revision or path not in the working tree.
Use '--' to separate

[2019-09-07 17:58] phBalance commented on #418
Just to leave another data point and a few bread crumbs. In my case I'm running Linux so YMMV.

I have package npm installed which installs to /usr/bin/npm and is version 3.5.2 or something similarly old. I do have npm installed "globally (via `npm i -g npm`)" to /usr/local/bin/npm - it's the one that is run by my shell and it's version 6.11.3.

I did a little debugging and found that the `exports

[2019-09-08 09:28] novemberborn commented on #437
https://github.blog/changelog/2019-09-06-publishing-a-package-no-longer-creates-a-release-and-other-github-package-registry-updates/

This leaves us with:

[2019-09-09 16:23] bunysae commented on #103
I started working on this. If the last release has a git-tag, we could use the `git diff` command to find out the files, which were added since the last release.

[2019-09-10 07:32] fregante commented on #445
This is interesting but consider that each test would mean `npm i && npm test` and they can probably take a whole minute, only to _suggest_ a version you have to confirm.

Perhaps however this can be integrated in the current testing step, so you can still manually pick your suggested version, **but** if you select `patch` and this feature suggest this is a breaking change, it won't publish:

[cod

[2019-09-11 00:10] kylemh opened #449 "--no-tests flag does not work"
## Description

Running `yarn np 1.0.0 --no-tests` attempts to release 1.0.0 and runs the tests step.

## Steps to reproduce

1. `npx create-react-app test`
2. `yarn add -D np`
3. `yarn np 1.0.0 --no-tests`

## Environment

np - 5.0.3
Node.js - 10.14.1
no npm
yarn - 1.17.3
Git - 2.20.1
OS - MacOS 10.14.6

[2019-09-13 09:51] #396 closed

[2019-09-13 10:30] sindresorhus commented on #449
The `--no-tests` flag was not released yet when you opened this. It is now though: https://github.com/sindresorhus/np/releases/tag/v5.1.0

**Reminder**: The repo readme reflects what's currently being developed, not necessarily what's in the latest release. This applies to pretty much all projects on GitHub.

[2019-09-13 10:30] #449 closed

[2019-09-13 15:08] novemberborn commented on #437
#433 dealt with the 2FA issue. I think `np` should be fully compatible with GitHub Package Registry now, though I have yet to try with the latest version.

[2019-09-13 15:47] niftylettuce opened #451 ""upstream branch not found; not pushing." errors"
Upon doing `np` for `prepare-stack-trace` for the very first time (with existing version at `0.0.0` and the package never been published before), I received this error:

[code]

However doing a `git push --tags` and `git push origin master` resolved the issue manually.

[2019-09-13 15:48] niftylettuce commented on #451
Ref: https://github.com/cabinjs/prepare-stack-trace

[2019-09-14 10:13] slothsoft opened #452 "Command failed with exit code 128"
## Description

I tried to publish my module for the very first time (with a brand new npm account as well) and kept getting this error:

[code]

However `npm publish --access public` worked perfectly.

## Steps to reproduce

I cannot reproduce it any longer, the command `np` works now. I assume that the problem has to do with a new module and / or new npm account.

Though there might be a problem

[2019-09-16 10:05] EdJoPaTo opened #453 "np 5.1 instantly crashes on macOS"
## Description

When I run np 5.1.0 it instantly crashes. The error contains something about Cellar so I assume it's something strange with homebrew. But whatever the case is, it should just not crash.
Installing np@5.0.0 again it runs just fine.

I assume the root cause of the error is within [is-installed-globally](https://github.com/sindresorhus/is-installed-globally) or [global-dirs](https://g

[2019-09-16 19:16] ianwalter commented on #421
@janpio I think you should create a PR. It seems like that's the best solution from what I've seen / tried.

[2019-09-16 20:05] janpio commented on #421
I am not using `np` any more, also couldn't get other PRs successfully merged as I didn't actually know enough JS to also cover the tests - so I am not going to do this.

But feel free to run with this code and create a PR yourself ❤️

[2019-09-16 20:26] cesarferreira commented on #453
had to do a `npm install --global np@5.0`

[2019-09-16 20:34] niftylettuce commented on #453
Also experiencing issues with 5.1, such as yarn publish not working, but using `--no-yarn` works.  May be related to https://github.com/sindresorhus/np/issues/451.

[2019-09-16 20:43] ianwalter commented on #421
Ok, will do, thanks for your help.

[2019-09-16 21:28] natesilva opened #454 "Version 5.1 reports “Aborted!” when it should complete successfully"
When I publish a package it appears to complete successfully but also reports `Aborted!`. Although it says that, it does in fact publish the module correctly.

We rolled back to `np` version `5.0.3`, which does not report the “Aborted!” message.

## Description

The `exitHook` at https://github.com/sindresorhus/np/blob/master/source/index.js#L89 looks like it is meant to report `Aborted!` if there

[2019-09-17 04:14] sindresorhus commented on #454
// @ksathyanm

[2019-09-17 06:27] sindresorhus commented on #453
`np` can't really continue without knowing whether it's run globally or locally as it needs to pick the correct `np` config. So crashing hard here is correct, although it could have used a better error message.

Seem like the issue was introduced in https://github.com/sindresorhus/is-installed-globally/commit/b898cd4fa3cb40eaf1035dbf88d87e28370cfe50

// @NeekSandhu

[2019-09-18 17:33] apfelbox commented on #453
Here is my stacktrace (if that helps):

![2019-09-18 at 19 31](https://user-images.githubusercontent.com/1032411/65171427-1f0f2780-da4b-11e9-829b-763cf6bb2bd0.png)

5.1.0 crashes
5.0.3 works

[2019-09-19 20:21] r3code commented on #452
+1 at Windows 10 x64 Nodejs 10.16.3 LTS

[2019-09-20 15:06] ksathyanm commented on #454
I will work on the fix this weekend

[2019-09-21 18:56] esamattis opened #455 "publish: false has no effect in .np-config.json"
## Description

When I have a `.np-config.json` in my project with contents of `{ "publish": false }` I'd expect to work like `np --no-publish` when I run just `np`.

## Steps to reproduce

1. Add `.np-config.json` to a npm module source with  `{ "publish": false }`
2. run `np`

this happens:

![image](https://user-images.githubusercontent.com/225712/65377932-40c21600-dcba-11e9-8263-b58d9f8dac17.p

[2019-09-22 04:33] sindresorhus commented on #455
// @itaisteinherz

[2019-09-24 07:30] verekia commented on #398
An other use case is for packages that are published by different people, who cannot use 2FA.
Yes it is possible to publish it first with `npm publish` and then use `np`, but an option would be nice :)

[2019-09-25 14:40] prgcon opened #457 "np fails to create tag and add changes to git when versioning nested package.json"
## Description
When trying to version an Angular library that is inside and Angular workspace (mono-repo) np fails to add changes and create a tag in git.

The first np command (on the top level package.json in step 8) succeeds but second np command (in the nested package-json in step 10) fails.

## Steps to reproduce

1. `mkdir np-issue-nested-package-json`
2. `cd np-issue-nested-package-json/`
3

[2019-09-27 07:50] marekrozmus opened #458 "Check if package contains any files before publishing"
I've just started using this tool and end up with empty module published to npm. I assumed that if it cleans up node_modules and updates package-lock.json it also rebuilds module and then it publishes.

Would it be possible to add checking if there are any files before publishing? So that at least new users won't end up with empty modules :)

[2019-10-03 13:59] tusbar opened #460 "EPERM when publishing public scoped package with 2FA"
## Description

5.1.0 seems to break yarn publish with 2FA. 5.03 asks for OTP, 5.1.0 just crashes.

[code]

Package is public and scoped.

## Steps to reproduce

Run `np` (example above was run with `--yolo` - but it doesn’t change the outcome)

## Expected behavior

Should ask for OTP like in 5.0.3

## Environment

np - 5.1.0
Node.js - 10.16.3
yarn - 1.19.0

[2019-10-05 00:48] rdmurphy commented on #460
I'm seeing the same thing.

[2019-10-05 00:57] fubhy commented on #460
I am also seeing this error when trying to publish from a subdirectory. Running `yarn publish dist` manually works however.

[2019-10-06 15:24] mikehardy commented on #460
I see this error, and some other strangeness, not in a subdirectory

- with 5.1.0, without 2FA enabled, EPERM
- with 5.1.0, with 2FA enabled,
- with 5.0.3, with 2FA enabled ESOCKETTIMEDOUT instead.

I experienced the same thing when using yarn to manually attempt the underlying commands, then I used npm for the publish and it worked

🤷‍♂ - not sure this is an 'np' problem, I will attempt to run it

[2019-10-14 09:06] kylemh opened #462 "New package instructions don't work"
## Description

I've set my package version to `0.0.0` as instructed and ran `yarn np`. It failed at **Verify user is authenticated**:

[code]

(also pictured in screenshot)

Running `npm access ls-collaborators @innocuous/next-css` unsurprisingly 404s.

## Steps to reproduce

1. `npx tsdx create test`
2. `either`
3. `yarn add -D np`
4. Set package.json version to be `0.0.0`
5. Attempt `yarn np`

[2019-10-15 13:34] ArnaudBarre commented on #416
Thanks @itaisteinherz `yarn login` fixed the issue

[2019-10-15 17:42] breuerfelix commented on #312
got the same problem using npm :)

[2019-10-18 11:44] lookfirst commented on #453
so..... what needs to happen to fix this?

[2019-10-19 04:16] lookfirst commented on #453
Update, I figured it out. `yarn publish`  🤷‍♂

[2019-10-24 18:06] MarkLyck opened #463 "Broken w/ private Verdaccio reigstry - npm access ls-collaborators fails"
When running `np` it fails on the step: Verify user is authenticated
      → Command failed with exit code 1 (EPERM): npm access ls-collaborators @colony/colony-ui

when I run `npm access ls-collaborators @scope/my-package-name`

I get the following error:
[code]

which makes sense. Cause when I navigate to that URL there's nothing there and I wouldn't expect there to be anything.

I did manually

[2019-10-24 18:08] sindresorhus commented on #463
You should open an issue on Verdaccio. It's up to them to be compatible with npm. `np` cannot support every custom npm registry solution out there.

[2019-10-24 18:25] MarkLyck commented on #463
Are you saying np doesn't support Verdaccio? (I've seen other issues related to Verdaccio but not this one.) It's hard to confirm if it's supposed to work or not. It definitely used to work in older versions of np?

I created another issue on Verdaccio's GitHub. But given this is one of the most popular (if not THE most popular) I'd really hope this should work.

https://github.com/verdaccio/verda

[2019-10-24 18:32] MarkLyck commented on #463
Looks like you're right. They don't support `npm access` for verifying user access.

[2019-10-24 18:32] #463 closed

[2019-10-24 20:07] MarkLyck commented on #463
For anyone else who likes `np`. Downgrading to @4.0.2 works perfectly fine with Verdaccio.

🤞that either Verdaccio will start using `npm access` or np will add support for Verdaccio.

But for now and older version works.

[2019-10-25 07:58] shazron commented on #454
Filed PR #464

[2019-10-28 11:05] jfmengels opened #465 "`np` crashes on Node.js versions earlier than v9.7.0"
## Description

When running `np` on Node version 8 and 9 (prior to 9.7.0), it crashes with the error message `util.getSystemErrorName is not a function`.

From reading the [Node.js documentation](https://nodejs.org/api/util.html#util_util_getsystemerrorname_err), it seems that function was added in Node.js v9.7.0. `np` says it supports Node.js v8 and above, meaning there should at least be a fall

[2019-10-28 13:54] sindresorhus commented on #465
[code]

https://github.com/sindresorhus/execa/blob/4f49253de69596e8b8bfc1541232316051c37cfd/package.json#L13

[2019-10-28 17:03] hewIngram opened #466 "Only publish from a specific branch"
Github gives you the option to set a different branch as default, on np you can restrict publishing to be only from 'master' but not any other branch. It *feels* like it'd be nice to restrict publish to be from a specific named branch as well.

## Description

Add a config option to allow users to set a different branch name to restrict publishing to. Then, if the --any-branch flag isn't passed, w

[2019-10-28 17:04] jfmengels commented on #465
Right, `getSystemErrorName` has been added to both https://nodejs.org/en/blog/release/v8.12.0/ and https://nodejs.org/en/blog/release/v9.7.0/.

So it doesn't work for Node <8.12.0, like 8.10.0 that I am/was using.

[2019-10-30 07:46] sindresorhus commented on #465
And `execa` correctly [specifies](https://github.com/sindresorhus/execa/blob/4f49253de69596e8b8bfc1541232316051c37cfd/package.json#L13) the required Node.js 8 point version, so I'm not sure what you want us to do here? The solution is for you to upgrade your Node.js 8 version, which is more than a year old, and has a lot of security vulnerabilities.

[2019-10-30 08:09] jfmengels commented on #465
You're right. I always assumed the engines field would make `npm` trigger a warning when the Node.js version didn't match, but it seems not to be the case. :thinking:
I was originally thinking of having the engines for `np` set to be the same as `execa`, but I'm not sure I see the point now. I will just upgrade, and let's close the issue. Thanks for your time :)

[2019-10-30 08:09] #465 closed

[2019-10-30 08:39] sindresorhus commented on #465
I think Yarn does warn about engine incompatibilities.

[2019-10-30 17:57] billsaysthis opened #467 "Bumping version using npm fails"
## Description

Error message is `Command failed with exit code 1 (EPERM): npm version minor`.

Full output:
[code]

## Steps to reproduce

1. Merge a PR
2. Run `np minor` (same result for `np patch`)

## Expected behavior

New release will be published

## Environment

np - 5.1.2
Node.js - 12.7.0
npm - 6.10.0
Git - 2.20.1 (Apple Git-117)
OS - macOS 10.14.6

[2019-10-31 19:05] AdrieanKhisbe commented on #297
Hello @sindresorhus
Being interested in such a feature and willing to implement it, I was wondering if you were **open to consider a PR adding it**? :)

(.npmrc config is a bit limitating when you set custom message for the version like `npm version minor -m "New minor release %s with some minor feature blablablaaaa....`)

Thanks in advance for your answer :)

[2019-11-02 09:24] szmarczak opened #468 "Display more information on failure"
[code]

Running that command gives:

[code]

### Expected output

[code]

[2019-11-04 15:43] Alex0007 commented on #453
I'm using `npx np@5.0.3` as workaround

[2019-11-08 17:23] #453 closed

[2019-11-08 19:38] mmnavarr commented on #395
I am having the same issue with authentication to our privately hosted verdaccio. I have configured the publishConfig registry as well but unable to authenticate.

[2019-11-08 20:11] juanpicado commented on #395
@ingro Verdaccio do not support 2FA
@mmnavarr I'm not pretty familiar with `np` but the auth usually takes place with `npm login` before publish.

[2019-11-11 11:54] SchDen commented on #467
I also got this problem. I fixed it by update nodejs to v12 and npm to v6

[2019-11-11 17:26] billsaysthis commented on #467
Thanks @SchDen but per my original post I'm already on those versions.

[2019-11-11 17:30] billsaysthis commented on #467
@sindresorhus For the record I updated to np 5.1.3 and am still getting this error.

[2019-11-14 21:17] jescalan commented on #446
Wow you really saved me with this one @BenjaminRuehl - I feel like maybe this is worth adding to the readme?

[2019-11-20 13:59] EdJoPaTo commented on #454
This still happens to me on a private repo (no push to any npm registry)

[code]

[2019-11-20 14:06] EdJoPaTo opened #469 "Empty files or .npmignore warning on private package"
## Description

In a private repo that does not get published to npm the warning about empty files or .npmignore is shown (see #411)

## Steps to reproduce

1. set `"private": true` in package.json
2. publish

## Expected behavior

No warning is displayed

## Environment

np - 5.1.3
Node.js - 13.1.0
npm - 6.13.1
Git - 2.24.0
OS - macOS 10.15.1

[2019-11-20 15:23] nickthesing opened #470 "Script is stuck at "publishing package usage npm" (keeps loading)"
## Description

The script is stuck trying to publish the package to NPM. The package is published to NPM but the step still has the loader and wont move to the next step (Pushing Tags).

Package is **public**
bitbucket repo is **private**

## Steps to reproduce

1. Run
```np --no-tests```

## Expected behaviour

After successfully execute move to next step.

## Environment

np - 5.1.3
Node.js -v1

[2019-11-20 18:48] natesilva commented on #454
@EdJoPaTo I’m not able to reopen this even though I created it. Maybe open a new issue and reference this one?

[2019-11-21 13:21] sindresorhus commented on #454
// @shazron

[2019-11-21 14:27] shazron commented on #454
I've done a dozen or so releases on `np@5.1.3` and haven't seen this issue. Someone else should verify that it still occurs besides me. @EdJoPaTo can you do a `np --version`

[2019-11-22 09:07] thetutlage commented on #470
Same here. Public package and public repo on github

[2019-11-25 03:02] EdJoPaTo commented on #454
I assume this has to do with being a private repo which does not has a module being packed and sent to npm.

[code]

[2019-11-25 03:30] shazron commented on #454
Looks like in this case we need have in the logic to detect if `pkg.private` is `true` then don't assume it was aborted (either that [`publishStatus` is `UNKNOWN` and `runPublish` is `false`], but that is not intuitive)

[2019-11-25 10:50] tstewart-klaudhaus commented on #251
How about enabling users to skip the `npm install` step? I can't see any other issue with what np already does that would stop it working with an `pnpm` based workflow. I'm happy for the tests, publish etc. to be run via the npm command, which is what `pnpm` uses under the hood anyway, it's just npm's local storage patterns that I want to avoid by using `pnpm install` instead, and I can do that ma

[2019-11-26 06:36] chinesedfan commented on #467
@billsaysthis I think it is similar with #468. Please run `npm version minor` and check the detailed error message.

[2019-11-26 08:08] chinesedfan commented on #451
@niftylettuce The error message is clear, which means you should set upstream for your branch at first. See [README](https://github.com/sindresorhus/np#release-an-update-to-an-old-major-version).

[2019-11-26 08:28] chinesedfan commented on #455
@esamattis It works for me. Where did you put the `.np-config.json` file in? Don't place it in your source subfolder. It should be in the project root.

If possible, you can paste your repository link or a sample repository.

[2019-11-26 08:35] chinesedfan commented on #320
@sindresorhus Checked and commented some issues today. If I can add labels for issues, that would be greater. Glad to help anyway.

[2019-11-26 09:11] chinesedfan commented on #452
This is due to your repository has 2 initial commits, which results in our `firstCommit` function in `git-utils.js` doesn't work as expected. After a tag was created, it will not be called.

I think we can return any one of them.

[2019-11-26 09:13] chinesedfan commented on #447
Thanks for reporting. Let's track in #452.

[2019-11-26 09:13] #447 closed

[2019-11-26 10:02] sindresorhus commented on #466
Sounds good. PR welcome :)

[2019-11-26 14:23] #451 closed

[2019-11-26 15:29] chinesedfan commented on #462
In fact, an unpublished package is expected to return 404 and we have codes to handle it.

@kylemh I think your problem is similar with #432. Please try `npm run np` instead of `yarn np`.

[2019-11-26 15:53] chinesedfan commented on #454
How about #471? I think we can simply set `publishStatus` to `SUCCESS` if no publish, and check those 3 kinds of statues in `exitHook`.

[2019-11-26 16:02] chinesedfan commented on #466
@sindresorhus I am afraid that people have not reached an agreement. See https://github.com/sindresorhus/np/issues/58#issuecomment-480429719. Unless you changed your mind.

[2019-11-26 16:18] sindresorhus commented on #58
I think we should add `--branch`, but keep `--any-branch`. `--branch` would be for when you know ahead of time the branch name. `--any-branch` would be for when you don't, or you need to quickly override it, or you just want to opt-out and permanently allow any branch.

I think `--branch` should probably be named `--default-branch` to be explicit.

---

Those users can continue to use `--any-branc

[2019-11-26 16:19] sindresorhus commented on #466
@chinesedfan https://github.com/sindresorhus/np/issues/58

[2019-11-26 16:30] hewIngram commented on #466
`-default-branch` makes sense alongside `--any-branch` seems sensible.

Happy to have a look at adding it.

Thanks!

[2019-11-26 18:02] #462 closed

[2019-11-26 18:17] billsaysthis commented on #467
That command is useful! But my error is different than #468 :
[code]

[2019-11-26 18:26] billsaysthis commented on #467
Note that neither `brew install gpg` nor `npm install -g gpg` solved the issue.

[2019-11-26 19:23] sholladay commented on #58
The idea for a wildcard kind of plays into why I didn't want to have a `--branch` option that allows custom branch names. Once you have that feature, it seems like it should support an array of values and regex patterns. It's prone to feature creep. All for a simple `if` statement that throws an error to prevent you from doing something that may or may not be a mistake (i.e. you might just want to

[2019-11-26 21:28] esamattis commented on #455
Yeah, it was in the project root. I'll recheck with the latest version.

[2019-11-27 03:01] chinesedfan commented on #467
OK. It should be an issue related to your git environment, instead of np. See [stackoverflow](https://stackoverflow.com/questions/39494631/gpg-failed-to-sign-the-data-fatal-failed-to-write-commit-object-git-2-10-0).

I am going to close this issue now. But if you find something new, feel free to remind me.

[2019-11-27 03:01] #467 closed

[2019-11-27 10:31] BenjaminRuehl commented on #446
@jescalan You're welcome. It would have saved me time, i would appreciate it.

[2019-11-29 03:47] chinesedfan commented on #29
@sindresorhus Would you mind setting up coverage report? Like codecov.io or coveralls.

[2019-11-29 03:49] sindresorhus commented on #458
How did you end up with an empty module? Did you `.npmignore` all the files?

[2019-11-29 03:51] sindresorhus commented on #469
Yes, we should not display the warning in that case. PR welcome.

[2019-11-29 03:53] sindresorhus commented on #29
We can add `nyc` locally, but I don't see much value yet in codecov.io as the kinda tests we need, integration tests, will not affect code coverage much.

[2019-11-29 03:55] sindresorhus commented on #373
See https://github.com/sindresorhus/np/pull/378 as a starting point to solve this.

[2019-11-29 03:56] sindresorhus commented on #375
See https://github.com/sindresorhus/np/pull/378 as a starting point to solve this.

[2019-11-29 09:35] sindresorhus commented on #58
We'll just clearly document that for anything else other than setting a static branch name, people should just use `--any-branch` and do their own logic.

[2019-11-29 09:36] sindresorhus commented on #437
Can anyone confirm it works now? If so, we can document the support in the readme.

[2019-11-29 09:40] #438 closed

[2019-11-29 09:42] sindresorhus commented on #424
@itaisteinherz Is this fixed now? If not, what else needs to be done.

[2019-11-29 09:42] vicdelfant commented on #437
Yes this works, actually just published a package yesterday using:
[code]

[2019-11-29 13:47] chinesedfan commented on #424
@sindresorhus See https://github.com/sindresorhus/np/pull/429#pullrequestreview-323718862. Merging #429 is the last thing I think.

[2019-11-30 08:59] #255 closed

[2019-11-30 09:15] #155 closed

[2019-11-30 09:18] #111 closed

[2019-11-30 09:44] #454 closed

[2019-11-30 09:44] #424 closed

[2019-11-30 09:46] #444 closed

[2019-11-30 09:47] #469 closed

[2019-12-02 06:01] lukeggchapman opened #474 "Private root package prevents non-private subdirectory from being published"
## Description

We have a use case where we want to bundle up the types of a private package into a subdirectory with a cloned package.json and publish that to npm.

The problem is that even though the cloned nested package.json is not set to private, because the root package.json is private the publish task is skipped.

## Steps to reproduce

1. Create a package with the following file structure:

[2019-12-03 02:08] chinesedfan commented on #474
@lukeggchapman According to your root package.json, it is really not allowed to be published. You can try `npm publish dist` directly in the root folder. `np` should keep the same behavior with `npm`.

If `npm` works, feel free to remind me to reopen this issue.

[2019-12-03 22:34] lukeggchapman commented on #474
@chinesedfan `npm publish dist` works from the root.

[2019-12-04 06:05] chinesedfan commented on #474
@lukeggchapman Sure. PR welcome to make `np` checks the same `package.json` with npm.

[2019-12-05 22:46] niftylettuce opened #475 "np@5.2.1 - Command failed with exit code 1"
[code]

[2019-12-05 22:48] #475 closed

[2019-12-05 22:48] niftylettuce commented on #475
Misconfiguration on my end.  It's not verbose and when it exited with `1` I didn't see the stack trace.

[2019-12-10 17:49] hewIngram commented on #58
Opened a PR that should address this: https://github.com/sindresorhus/np/pull/476
Let me know if there are any comments.

@sholladay your point around it spiralling is a really good one (and of it being fairly limited in use). My need for it was specifically around the fact that we use release as the name of all of our default branches rather than master and I didn't want to have to wrap np up in

[2019-12-10 19:56] JonathanTheZero opened #477 "Can't execute np due to heroku"
Whenever I try to run the `np` command from the command line, I get the following error:
[code]

## Steps to reproduce

1. Install np
2. Run the `np` command on the command line

## Expected behavior

To work as stated in the docs, not giving me an error connected to heroku

## Environment

np - 5.2.1
Node.js - 11.14.1
npm - 6.10.2
Git - 2.12.0.windows.1
OS - Windows 10 Home 1903

[2019-12-11 09:01] chinesedfan commented on #477
@JonathanTheZero I am sure why it triggers heroku error. Which folder did you run `np`? And can you provide the full cmd screenshot or console logs? Like,

[code]

[2019-12-11 15:43] fregante commented on #291
@yaodingyd do you want to send a PR for this? If not, I could

[2019-12-11 15:46] yaodingyd commented on #291
the latest version for listr-input is not working actually. I have a PR https://github.com/SamVerschueren/listr-input/pull/8 to fix the auto submit issue. If you can ping Sam on it that would be helpful.

[2019-12-11 15:51] JonathanTheZero commented on #477
@chinesedfan I run the `np` command in the base folder of my npm module, this here is the full log:

[code]

[2019-12-12 03:14] chinesedfan commented on #477
@JonathanTheZero It is due to `global-dirs` returns a non-exsited `globalDirs.npm.packages`, as well as `C:\Program Files\heroku\client`.

You can check the logic inside `global-dirs`. See https://github.com/sindresorhus/global-dirs/blob/master/index.js#L49. There must be some `process.env.xx` or `.npmrc` is set wrongly.

[2019-12-12 03:14] #477 closed

[2019-12-12 13:25] JonathanTheZero commented on #477
I neither have a process file nor a `.npmrc` file, this confuses me even more now

[2019-12-12 20:08] niftylettuce opened #478 "[feat] create release draft option (e.g. `np release-draft <version>`) would trigger release page"
An alternative to `release` perhaps that matches release consistency.

[2019-12-16 09:02] fa-repo commented on #470
Happening here as well.

`np` publishes to npm but hangs on "⠦ Publishing package using npm".

Kinda in the dark as to where the error lies.

## Environment

np - 5.2.1
Node.js - v10.16.0
npm - 6.13.4
Git - 2.21.0 (Apple Git-122.2)
OS - macOS Mojave 10.14.6

[2019-12-16 09:53] fa-repo commented on #470
Fixed. Appears my mistake was setting `np` on the `npm` `publish` script:

[code]

[2019-12-17 14:03] OliverJAsh opened #479 "`yarn publish` errors are opaque"
## Description

`yarn publish` errors are opaque.

## Steps to reproduce

1. Define a `prepublishOnly` script that always fails
2. Run `np` (in Yarn mode)

## Expected behavior

It should be clear why `yarn publish` failed, i.e. what error did `prepublishOnly` result in?

## Actual behaviour

[code]

There's no mention of why exactly `yarn publish` failed.

## Environment

np - 5.2.1
Node.js - 12.

[2019-12-21 00:25] kylemh commented on #432
Also seeing an issue. I'd like to try and resolve this, so I'll pull the repo down locally, but @sindresorhus ... any inkling as to why [`collaborators('@private-org/private-package')`](https://github.com/sindresorhus/np/blob/master/source/npm/util.js#L45) could fail in this package, but `npm access ls-collaborators @private-org/private-package`?

[2019-12-23 18:49] sindresorhus opened #480 "Ensure dependencies are compatible with the supported Node.js version"
npm doesn't enforce the `engine` field of dependencies. This caused https://github.com/sindresorhus/eslint-plugin-unicorn/issues/481.

When `np` reinstalls the dependencies, I think we should run `npm install` with the environment variable `npm_config_engine-strict=true` to make it validate the `engine` field.

https://docs.npmjs.com/misc/config#engine-strict

[2019-12-26 19:52] loilo opened #482 "Don't use `npm ci` if lockfiles are ignored by git"
## Description

Currently, this tool uses `npm ci` if a lock file is present, even if that lock file is ignored through a `.gitignore` file.

Since the main reason for re-installing npm dependencies should be reproducibility (is this assumption right?), `npm ci` should not be used if the lock file is not ending up in the remote repository (and therefore, in the continuous integration tool of choic

[2019-12-30 21:32] #437 closed

[2019-12-30 21:38] sindresorhus commented on #478
What's the use-case?

[2019-12-30 22:00] sindresorhus commented on #479
This should be fixed by https://github.com/sindresorhus/np/commit/818ff4bcb0fe87f72edf2465320698206d714157#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R40. Older `execa` versions did not include stdout/stderr in error messages.

[2019-12-30 22:00] #479 closed

[2019-12-30 22:26] #480 closed

[2019-12-31 04:51] niftylettuce commented on #478
When `np` fails, like has happened with the past few versions.

https://github.com/sindresorhus/np/issues/422 and https://github.com/sindresorhus/np/issues/418

[2020-01-01 08:57] trusktr commented on #388
If installing a dependency from a git repository, would the `"publish": "dist"` option install the dist folder after running the `prepare` step, rather than installing the root folder?

[2020-01-01 08:57] trusktr commented on #388
And how would `npm link` workflow work?

[2020-01-01 09:01] trusktr commented on #388
Oh, I just realized this was in `np` repo. I'd like for this to be baked into NPM.

[2020-01-02 07:47] shazron opened #484 "Publish publicly prompt does not publish the package publicly"
## Description

When I publish a package that hasn't been published before, and I type in 'y' at the prompt to publish publicly, it does not publish the package publicly. It is still private.

## Steps to reproduce

1. `np` a new package with no `np-config` file (use defaults)
2. At the prompt `? This scoped repo @foo/bar hasn't been published. Do you want to publish
 it publicly? y/N` type in 'y'

[2020-01-02 20:49] sindresorhus commented on #478
I don't think that's a good argument for adding a feature. The problems should be fixed instead. That being said, I'm open to adding this as it could be useful for non-Node.js projects.

[2020-01-14 11:10] fregante commented on #82
`npm` exposes a useful method: `require('npm/libs/pack').getContents()`

From this I think it's a matter of testing `pkg.bin in getContents()` and such

[2020-01-15 01:58] papb opened #486 "Stuck at "Publishing package using npm""
## Description

I have spent hours trying to figure out what is going on, but I have no idea. Running `np` simply gets stuck at the "Publishing package using npm" part.

## Steps to reproduce

I would guess this is probably hard to reproduce. Clearly this works for everyone else, otherwise there would be several issues about it already (such a basic feature that is not working!)

## My request

I

[2020-01-15 05:35] papb commented on #486
Wow. Windows. Nevermind... I had a `prepack` script which called `del` (from [del-cli](https://github.com/sindresorhus/del-cli), however `del` is already a windows built-in, so it was being called instead of the node module. And it asks for a confirmation (`are you sure? y/n`), and this confirmation was not shown by `np`, and ended up waiting in the background forever. This is why it was stuck...

[2020-01-19 07:24] ProfessorManhattan opened #488 "Git Permission Denied"
Process fails at "Check git remote". I just initialized a new git repository using git init and git remote add origin GITLAB_URL and then pushed the files to master. My SSH key has a password on it. Could that be the issue? Also, I'm using Windows CMD with Git Bash executables installed - maybe that could be the issue?

## Description

[code]

## Steps to reproduce

I'm not sure. I'm surprised thi

[2020-01-20 09:29] terenceodonoghue opened #489 "Publishing to GitHub Packages yields 405 (Method Not Allowed)"
## Description

Attempting to publish to GitHub Packages yields a 405 error - it appears that the step which checks for package name availability is unable to run against the registry.

## Steps to reproduce

1. Add `https://npm.pkg.github.com/` to publishConfig in package.json.
2. Run `NODE_ENV=test np`

## Expected behavior

Publish should be successful.

## Environment

np - 5.2.1
Node.js - 10.

[2020-01-24 11:54] terenceodonoghue commented on #489
Further to this, I traced the issue to the `npm-name` package; it's making a HTTP HEAD request to GitHub packages, which returns an uncaught 405 error.

[2020-01-25 23:28] terenceodonoghue commented on #253
I could see some benefit in nominating a custom prefix when publishing packages from a monorepo; @sindresorhus @itaisteinherz would you be receptive to a PR that acommodates this?

[2020-01-26 05:39] fregante commented on #253
I think this already has several tools, `np` doesn't need to be one of them.

[2020-01-26 06:04] #253 closed

[2020-01-26 06:51] terenceodonoghue commented on #253
Fair enough. For what it's worth to anyone coming here with a similar requirement (and publishes with Yarn), creating a `.yarnrc` file in the project root that sets the `version-tag-prefix` does the job. 👍

[2020-01-26 23:58] kripod opened #492 "[CI/CD] "No commits found since previous release, continue?" is always thrown"
## Description

When using Travis CI to publish packages on git tags, the following error gets thrown, even with the `--no-publish` flag set:

[code]

## Steps to reproduce

1. Fork [kripod/react-typed-inputs](https://github.com/kripod/react-typed-inputs)
2. Configure Travis CI for the fork
3. Modify a file (e.g. make the package scoped to avoid name clashes) and commit with the message `feat: tes

[2020-02-02 11:15] #474 closed

[2020-02-05 05:39] sindresorhus commented on #489
@terenceodonoghue Could you report this to GitHub? They should support such a request.

[2020-02-05 22:44] terenceodonoghue commented on #489
@sindresorhus I already did; they indicated that an internal issue had been raised to (hopefully) address it. I've raised a PR nonetheless that allows `np` to try and publish anyway in the event of this or any other uncaught error while checking for package name availability.

[2020-02-06 13:49] sindresorhus commented on #489
@terenceodonoghue 👌

[2020-02-06 22:39] #489 closed

[2020-02-07 00:05] nickthesing commented on #470
Confirmed solution from @fa-repo works.

[2020-02-07 00:05] #470 closed

[2020-02-08 00:44] badluck13 opened #494 "ERR 400 2FA when no 2fa is configured on account/repo"
There is an issue with the latest version 6.0.0 of `np` after the package is published it tries to do 2fa and it fails. The account doesn't have 2fa enabled, as well as npm repo. Also, the package is published and then it tries to do 2fa, that seems strange I would expect 2fa is a step before publishing.

## Description

[code]

Here is the log file,
[code]

## Expected behavior

I expect for the

[2020-02-08 12:27] bunysae commented on #432
@colinking @kylemh
This error looks like a wrong registry url. `np` (version 5.0.3) tries to publish to the default registry url. If you choose yarn to run `np`, yarn overrides the registry url with `https://registry.yarnpkg.com/` (default-setting). So it doesn't matter, what registry url you configured for `npm`. Yarn always overrides this url. If you execute the command `npm access ls-collaborat

[2020-02-08 15:35] bunysae commented on #381
I want to start working on this. Stubbing the `os` dependency is possible. So it should be possible to test the global config.

[2020-02-09 22:06] larsroettig commented on #494
Why it is not possible to make this `2fa-required ` optional?

[2020-02-10 20:15] kylemh commented on #432
@sindresorhus I'm not sure if I should notify the author of https://github.com/sindresorhus/np/pull/491 to collect the bounty or if @bunysae should get it given the explanation of the issue and workaround?

[2020-02-11 22:54] kylemh opened #496 "Documentation: Clear instruction on CI publishing of private packages"
## Description

I see that I need to add `private: true` to package.json to prevent public publishing, but if i do this the publish step gets skipped entirely. I would love there to be clear documentation on using the CLI to publish private packages.

[2020-02-12 19:36] Atulin commented on #488
I'm having the same issue. Anyone?

[code]

[2020-02-12 20:33] deini commented on #403
I have a somewhat different use case but having something like `current` would work for me too.

I have other tooling in place that bumps my package.json versions in my monorepo packages. I then would like to use `np` to actually do the release to npm, create tags, etc.

[2020-02-13 10:01] sindresorhus commented on #494
See: https://github.com/npm/cli/issues/650

[2020-02-13 10:03] sindresorhus commented on #494
It's so that it can handle when you first publish a new package as you cannot enable 2FA on a package before it's published. Was just easier to have the same logic for both existing and new packages.

[2020-02-13 10:08] sindresorhus commented on #432
You can give it to @bunysae, but it can only be given by referencing a PR. @bunysae Can you do a PR to add a tip about this issue to the readme? Maybe a FAQ item?

[2020-02-13 16:10] peduarte commented on #494
Hey there,

Recently published a new package too and encountered the same issue. Because the 2FA step fails and exits, the push to Github isn't happening.

For now I'm pushing manually.

Weirdly enough, I've been using np before and never had this issue, so I don't fully understand what is happening 😄

[2020-02-13 18:48] bunysae commented on #432
@sindresorhus Done

[2020-02-14 14:43] loilo opened #499 "HTML tags in commit messages disappearing"
## Description

When having a HTML tag in a commit message, that tag disappears from the auto-generated release notes.

## Steps to reproduce

1. In a local npm package, create a commit with an HTML tag in the message, for example:

[code]
2. Run `np` (mostly just for the release note creation part).
3. In the "create release" tab which the browser opens, click on the "Preview" button.

## Expecte

[2020-02-14 14:56] sindresorhus commented on #499
How do you think we should fix this?

[2020-02-14 15:48] loilo commented on #499
I think running `escape-goat` on the body content should be fine, since HTML entities are allowed in the markdown field.

[2020-02-14 16:28] sindresorhus commented on #499
Sounds good. PR welcome 👍

[2020-02-15 06:53] Albert-Gao commented on #398
The current workaround is `np --no-publish && npm publish`

[2020-02-16 13:49] #499 closed

[2020-02-16 14:18] #432 closed

[2020-02-17 07:27] #291 closed

[2020-02-17 08:19] inkeytech commented on #452
Hello,

I'm encountering the same issue.

I have already committed the package to Github more than once, before installing NP.

Is there a quick fix / workaround?

Regards,

Ian Watson

[2020-02-17 09:04] fisker opened #501 "Can't open github release page when release notes is too long"
## Description

This is a limitation on github urls, seems about 8195

[code]

## Expected behavior

I think maybe we can copy the body to clipboard and open a url like this

[code]

Maybe `new-github-release-url` should also throw an error.

[2020-02-17 09:11] sindresorhus commented on #501
Can you [submit](https://support.github.com/contact) a bug report to GitHub? They should really support longer URLs than that.

[2020-02-17 09:18] fisker commented on #501
I don't think that solves the problem, even if github supports longer urls, the url length can still reach the browser's url length limits.

[2020-02-17 09:26] sindresorhus commented on #501
Yes, but you're much less likely to hit the browser URL limit. So it's still worth sending a bug report.

[2020-02-17 09:27] fisker commented on #501
OK, I'll let you know when they reply.

[2020-02-17 09:28] sindresorhus commented on #501
That means about a million characters. If your release notes are that long, this is the least of your problems 😝

[2020-02-17 13:32] novemberborn opened #502 "Create release notes even if pushing the branch failed"
## Description

I'm publishing a package in a GitHub repository with branch protection enabled.

Pushing the tag works fine, however pushing to `master` is not allowed until CI has run (for the tag).

**Is the feature request related to a problem?**

Because pushing to `master` fails, `np` does not create the release notes.

## Possible implementation

`np` should recognize the branch protection e

[2020-02-17 16:19] collincusce commented on #494
I just downgraded to 5.2.1 because this is broken. Let me know when it's fixed. That said, thanks for the wonderful work!

[2020-02-17 18:44] bunysae commented on #488
@ProfessorManhattan @Atulin
The permission denied error can result from a wrong configured ssh connection. Can you connect with the command `ssh -vT git@gitlab.com` or `ssh -vT git@github.com` to GitLab or GitHub (see [troubleshooting guide](https://help.github.com/en/github/authenticating-to-github/error-permission-denied-publickey))?

`np` gobbles up the password prompts. This is the reason, why

[2020-02-17 18:59] bunysae commented on #417
Can be a duplicate of issue #79. I was working on a solution in PR #448.

[2020-02-18 11:55] gabdara commented on #494
I'm having the same issue with v6, downgrading works.
It would be nice to have the flag to skip 2fa until the issue with npm cli is solved.

[2020-02-19 10:59] emjimadhu commented on #486
I have the same problem on mac too. Even though it got stuck at it. The package is published. But it is not passing from that step to next one.

![Screenshot 2020-02-19 at 4 27 49 PM](https://user-images.githubusercontent.com/15604962/74828276-daa6f100-5334-11ea-866f-1b22b3e4636f.png)

[2020-02-19 13:26] papb commented on #486
Hi @emjimadhu, that's weird, have you triple-checked your `prepublish` npm script (and the like)?

[2020-02-19 16:59] emjimadhu commented on #486
@papb I am really sorry, my problem was because of my stupidity. I named the npm script as publish.

[2020-02-19 23:29] andrico1234 opened #503 "np hangs at various steps of the publish pipeline"
## Description

When I try to deploy, the pipeline is hanging at this point.

![image](https://user-images.githubusercontent.com/17087167/74886075-18c10680-536f-11ea-936e-9669fa58fce9.png)

It holds there indefinitely.

The repo's tests pass with no problem outside of publishing.

I try running `np --no-test` but the pipeline gets to the next point where it attempts to bump up the package version,

[2020-02-20 00:43] papb commented on #486
Glad you figured it out, happens to all of us...

[2020-02-20 00:43] #486 closed

[2020-02-20 04:40] sindresorhus commented on #503
Can you try the —no-yarn flag? So we can see if it’s specifically Yarn that’s causing problems.

[2020-02-20 07:35] andrico1234 commented on #503
I tried running with npm, and the test step failed. It looks like the `cleanup` step removes my packages, and the `npm install` step doesn't seem to install the packages correctly.

So running `np --no-yarn --no-cleanup` causes the same issue

![image](https://user-images.githubusercontent.com/17087167/74910923-7d9e5000-53b3-11ea-85c6-700bcdaecb80.png)

[2020-02-20 18:15] rhumaric commented on #398
I think I've got `np` to bypass it with this `.np-config.js` file:

[code]

Without that, the 2FA gets triggered, but with it nope. Hopefully:

- it actually does what I think it does
- it doesn't have other side effects

[2020-02-21 09:20] riccardoscalco opened #504 "503 Service Unavailable at step Enabling two-factor authentication"
## Description

**np** stops at step `Enabling two-factor authentication` with error `503 Service Unavailable`.

This error seems a consequence of the fact that **np** tells me
[code]
where the repo has already been published instead.

Looking at the code, line https://github.com/sindresorhus/np/blob/master/source/ui.js#L143 seems a relevant place to start debugging, in particular condition `!opti

[2020-02-21 12:43] davidohlin commented on #504
Having the same issue, failing at `Enabling two-factor authentication`, but my package is still being published.

**Environment**
np - 6.1.0
node - 10.14.2
npm - 6.12.0
Git - 2.20.1
OS - macOS 10.15.3

[2020-02-22 08:45] #391 closed

[2020-02-22 11:38] bunysae commented on #384
My idea to solve this problem would to stub or to mock the commands called with `execa`. For this purpose, i started creating a little test-double library for `execa` based on `sinon`, which should simplify stubbing or mocking `execa`-commands.

[2020-02-25 14:51] 0x80 opened #506 "Fatal: No names found, cannot describe anything"
## Description

After failed publish, in subsequent attempts I keep getting:

"fatal: No names found, cannot describe anything"

fatal: No names found, cannot describe anything.

## Steps to reproduce

1. Try to publish with --any-branch, using a branch that has no remote branch yet.
2. `np` will fail because of the missing remote branch, as expected.
3. Remove the local commit made by `np` in whi

[2020-02-26 18:58] #496 closed

[2020-02-27 09:50] bennycode opened #507 "User authentication fails"
## Description

I ran "np" but it failed telling me "You must be logged in. Use `npm login` and try again.". I executed "npm whoami" and saw that I am already logged in. So there seems to be a bug.

## Steps to reproduce

1. Use a scoped package
2. Add "release": "np" to your "scripts" section in "package.json"
3. Run "yarn release"

**.np-config.json**

[code]

## Expected behavior

"Verify user

[2020-02-27 11:08] bennycode opened #508 "Scoped package publication detection fails"
## Description

I have a scoped package which is already publicly released ([release on npm](https://www.npmjs.com/package/@wireapp/protocol-messaging)) and now I want to integrate "np" in my release process. When running "np" it tells me "This scoped repo @wireapp/protocol-messaging hasn't been published. Do you want to publish it publicly?" which is wrong.

I tried adding the following to my "pa

[2020-02-27 14:20] thetutlage commented on #508
Seems like a duplicate of https://github.com/sindresorhus/np/issues/504. Also facing the same issue, so decided to downgrade to `v5.2.1` for now

[2020-02-29 16:43] andrico1234 commented on #503
Hey, is there an update to this? it makes updating my packages very tricky

[2020-03-02 04:18] shazron commented on #484
This is still an issue.
I even have this in my package.json:
[code]

[2020-03-03 04:56] DannyFeliz commented on #504
I'm having this issue too

[2020-03-03 07:33] #381 closed

[2020-03-03 07:49] itaisteinherz commented on #504
@riccardoscalco @davidohlin @DannyFeliz Can you reproduce this with np v6.2.0? This might have been fixed in #497.

[2020-03-03 07:56] MohamadKh75 commented on #504
Same issue here!

[2020-03-03 07:58] davidohlin commented on #504
@itaisteinherz the issue persists with 6.2.0 unfortunately

[2020-03-05 00:03] jescalan commented on #508
Just want to mention that we have this same issue - it's wreaking havoc on all of our org packages, every time someone publishes its made private and our builds go down. Happy to help out with getting this patched up if there's anything I can do to move it along!

[2020-03-05 11:22] rstacruz commented on #398
Workaround: To stop `np` from trying to enable 2FA, set a registry in the publishConfig... even if it's the default NPM registry.

[code]

[2020-03-05 16:20] pixelastic opened #514 "np is always asking for OTP"
Hello,

When publishing a package, `np` is always asking for an OTP, even if 2FA is not enabled when publishing on my npm account.

## Description

When running `np`, I'm asked for an OTP. I don't think I should be asked for it:

- 2FA is set to _Authorization_ and not _Authorization and Publishing_ on my account
- `npm whoami` is returning my username

## Steps to reproduce

1. Double check that

[2020-03-06 08:17] pixelastic commented on #514
Wait, I just realized there is also a per-package 2FA option in addition to the npm account one. I didn't realize that. `np` is enabling 2FA on my package, so that's why it's asking for OTP, it's actually expected.

I guess I'm now looking for a way to disable setting 2FA on packages. I have a package that is automatically released by my CI so it cannot enter an OTP.

[2020-03-06 08:17] #514 closed

[2020-03-06 09:36] pixelastic commented on #398
I create a PR to add the `--no-2fa` option to the cli here: https://github.com/sindresorhus/np/pull/515

[2020-03-09 18:02] limitlessloop commented on #494
Encountering the same issue. But downgrading to 5.2.1 works. Despite this, `np` is still a lifesaver!

[2020-03-10 12:03] PandelisZ opened #516 "Ability to bump the version number of --contents not the root package.json"
## Description
My use case is that I'm trying to publish a /build directory from typescript but I would like the published package to have a flat directory structure.

Ie: when using the package I would like the users to be able to use `require('pkg/someFile')` instead of `require('pkg/build/somefile')`

It is my understanding from reading this issue: https://github.com/sindresorhus/np/issues/290

[2020-03-10 13:12] sindresorhus commented on #516
Sorry, I'm not interested in adding this feature.

In the future, the correct way to expose sub-modules is through the `exports` field in package.json, which would solve your use-case. Until then, you could use a npm hook to do the bumping.

https://nodejs.org/api/esm.html#esm_package_exports

[2020-03-10 13:12] #516 closed

[2020-03-10 13:33] PandelisZ commented on #516
Thanks for the quick response saves me wasting time to get it implemented.

Cheers for all your sick software :)

[2020-03-11 15:12] mlclay commented on #507
I added a script to my package that runs `npm whoami`.  Running that via yarn fails as well; this does not appear to be specific to `np`.

#### package.json:
[code]

#### running via npm
[code]

#### running via yarn
[code]

## Update
While writing this, I came across the `yarn login` command.  https://classic.yarnpkg.com/en/docs/cli/login/

After I ran `yarn login` and entered my username/email,

[2020-03-12 17:46] andywampir commented on #507
The @mclay method also helped me

[2020-03-12 19:35] astoilkov commented on #504
I can also verify the issue still persists in 6.2.0.

[2020-03-14 13:51] nhoizey opened #517 "np tries to publish to npm twice, then fails and rollback"
## Description

When I run `np minor`, I get this:

[code]

The `Publishing package using npm` step fails

I see the `📦  images-responsiver@0.3.0` log is there twice, and npm error message is "You cannot publish over the previously published versions: 0.3.0".

When I look on https://www.npmjs.com/package/images-responsiver the version has been published indeed.

But local state has been rolled bac

[2020-03-14 14:08] nhoizey commented on #517
Sorry, I had a `publish` task in my `package.json`… 🤦‍♂️

[2020-03-14 14:08] #517 closed

[2020-03-15 17:36] papb commented on #494
This is odd, I just had this issue but I am already using v5.2.1... What is happening?

[2020-03-15 18:46] papb commented on #494
For now I am using @pixelastic's fork from #515, it's working perfectly for me.

* `npm i -D https://github.com/pixelastic/np/tarball/c3ab2e3b053c7da0ce40a572ca1616273ac080f8`

* package.json:

[code]

* `npm run release`

[2020-03-16 00:05] nerdyman commented on #494
Downgrading to `5.2.1` didn't work for me. [npm/cli#650](https://github.com/npm/cli/issues/650) is for `npm access 2fa-required` returning an error but that command works OK for me and doesn't throw.

Could there be something else failing too? `np` still fails for me on `2fa-required`.

[2020-03-16 12:05] papb commented on #494
@nerdyman Can you try [my last suggestion](https://github.com/sindresorhus/np/issues/494#issuecomment-599248871) just out of curiosity?

[2020-03-17 20:18] natesilva opened #518 "np is turning on two-factor authentication and we don't want it"
## Description

When we publish our private modules, `np` runs a step called “Enabling two-factor authentication”. This is turning on the setting “Require Two Factor Authentication to publish or modify settings” in NPM. We then have to go into the NPM web site to turn it off.

I’ve seen #288 but that seems to be about turning on 2FA on a **new** package. We’d be fine with that. But this is enablin

[2020-03-18 13:45] haikyuu commented on #518
I'm facing this issue as well. Can we add an option `np --skip-2fa` to skip 2 factor auth?

[2020-03-21 20:06] Ore4444 commented on #430
#141

[2020-03-21 20:08] Ore4444 commented on #430
Related to: #141

[2020-03-22 18:39] thasmo commented on #508
Same here. Scoped package already published publicly and `np` fails to detect it.

[2020-03-23 05:28] dhowe commented on #504
same issue with 6.10.2

any workaround??

[2020-03-23 05:31] dhowe commented on #518
I'm having the same issues with a public package.

np fails with the following error (though the package is published anyway):

[code]

[2020-03-23 05:47] dhowe commented on #494
Same problem here with 6.10.2 on OS X

[2020-03-23 12:57] cossssmin commented on #518
Experiencing the same issue. Since 2FA is an option, there should be a way to opt-in (or out) for this.

[2020-03-23 14:35] papb commented on #494
@dhowe Can you try [my last suggestion](https://github.com/sindresorhus/np/issues/494#issuecomment-599248871) just out of curiosity?

[2020-03-24 09:19] dhowe commented on #494
Yes I am using that solution now -- works well, thanks

[2020-03-24 15:01] slavafomin opened #519 "Private repository doesn't support "whoami""
Hello!

Thank you for this great tool!

However, we are using private [Nexus Repository](https://www.sonatype.com/product-nexus-repository) to store our npm packages and it seems that it doesn't support [whoami](https://docs.npmjs.com/cli/whoami.html) command. It makes `np` to fail with an error that we can't fix on our side.

Does this tool really need to execute this command? Would it be possibl

[2020-03-27 14:27] yasimba commented on #503
Hey, I'm facing the same issue on Yarn

[2020-03-28 19:19] gargrave commented on #494
I also had to downgrade to 5.2.1 to publish a new package because I couldn't get around this. Any chance you could just support the flag from the optional branch posted above? This is clearly a pretty big inconvenience for a lot of people.

[2020-03-31 17:34] niftylettuce commented on #484
Yeah, still an issue

[2020-03-31 17:37] niftylettuce commented on #484
I've had to downgrade to `np@5.0` because of all the issues with new versions.

[2020-03-31 20:58] nerdyman commented on #494
Thanks @papb, that solution worked for me, I used `npx` for it rather than editing my current set up.

[code]

It would be really good to get this officially resolved though, doing package releases via random tarballs makes me feel dirty.

[2020-04-01 10:23] cossssmin commented on #518
Another thing I just noticed: since the new tag is pushed _after_ 2FA, lately I ended up having to manually push this commit so I don't (again, manually) create a release based on a previous commit:

![image](https://user-images.githubusercontent.com/1656595/78126675-8dca3600-741b-11ea-8816-385ce36b81da.png)

[2020-04-01 18:34] danielbayley opened #521 "Automatic stash and pop?"
Instead of just throwing an ‘unclean working tree’ error, why shouldn‘t `np` automatically run something like `git stash --include-untracked`, do it‘s usual thing, then something like `git stash pop --index` to restore everything? Would this kind of PR be welcome?

[2020-04-01 18:58] danielbayley opened #522 "Removes trailing newline in package.json"
## Description

For some reason `np` seems to always remove the trailing newline in `package.json`, throwing an ‘Unclean working tree’ error, causing the whole publish process to fail.

## Steps to reproduce

1. Clean working directory
2. Run `np`
3. Get `✖ Unclean working tree. Commit or stash changes first.` error, with a removed trailing newline in `package.json` showing up as unstaged changes.

[2020-04-02 16:04] sindresorhus commented on #521
Why should it? You wouldn't want to publish a package with a unclean tree anyway.

[2020-04-02 21:59] thasmo commented on #482
@loilo, if you don't need a `package-lock.json` just create a `.npmrc` file in the project and add:
[code]

[2020-04-02 22:02] loilo commented on #482
@thasmo I'm aware of that, thanks for the pointer. 🙂 I'd still say that since `np` is pretty integrated with git, it should respect `.gitignore` behavior — everything else seems inconsistent to me.

[2020-04-03 08:55] thasmo opened #523 "preid from .npmrc is not respected when drafting the github release"
When `np` opens the release draft in the browser it misses to preselect the correct tag because it does not use the `preid` configured in the `.npmrc` file.

So, instead of defining the tag as `v1.0.0-rc.0` it populates the tag field with `v1.0.0-0`, when `preid=rc` is defined in the `.npmrc` file.

[2020-04-07 18:11] dadadidudu commented on #506
This also seems to happen on a master branch where there is no earlier tag, as git describe --abbrev=0 --tags returns a string, but is actually an error message.